<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingMapper">
	
	<select id="totalCountAgencyAfterserviceHandling"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_afterservice_handling
			<if test="!searchWord.equals('')">
				<choose>
					<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
						WHERE united_afterservice_request_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
						WHERE return_goodsfacility_info_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('regularCheckCode')">
						WHERE regular_check_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('adminagencyCode')">
						WHERE adminagency_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('goodsfacilityThreeCode')">
						WHERE goodsfacility_three_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('goodsfacilityCode')">
						WHERE goodsfacility_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('goodsfacilityName')">
						WHERE goodsfacility_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('functionaryId')">
						WHERE functionary_id = #{searchWord}
					</when>
					<when test="searchSelect.equals('stateGoodsCode')">
						WHERE state_goods_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('textCheckResultGoodsfacility')">
						WHERE text_check_result_goodsfacility = #{searchWord}
					</when>
					<when test="searchSelect.equals('agencyCode')">
						WHERE agency_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('agencyName')">
						WHERE agency_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('agencyBusinesstypeCode')">
						WHERE agency_businesstype_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('dateRequestAfterservice')">
						WHERE date_request_afterservice = #{searchWord}
					</when>
					<when test="searchSelect.equals('dateCompleteAfterservice')">
						WHERE date_complete_afterservice = #{searchWord}
					</when>
				</choose>
			</if>
	</select>
	
	
	
	
	<select id="selectListAgencyAfterserviceHandling"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		SELECT
			agency_afterservice_handling_code AS agencyAfterserviceHandlingCode
			,united_afterservice_request_code AS unitedAfterserviceRequestCode
			,agency_code AS agencyCode
			,agency_name AS agencyName
			,agency_businesstype_code AS agencyBusinesstypeCode
			,agency_employee_id AS agencyEmployeeId
			,goodsfacility_code AS goodsfacilityCode
			,goodsfacility_name AS goodsfacilityName
			,date_afterservice_start AS dateAfterserviceStart
			,text_expert_opinion AS textExpertOpinion
			,classify_afterservice_state AS classifyAfterserviceState
			,date_afterservice_end AS dateAfterserviceEnd
		FROM
			agency_afterservice_handling
			<if test="!searchWord.equals('')">
				<choose>
					<when test="searchSelect.equals('직원 AS 수락 코드')">
						WHERE agency_afterservice_handling_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('통합 AS 의뢰 코드')">
						WHERE united_afterservice_request_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 수락 대행업체 코드')">
						WHERE agency_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 수락 대행업체 명')">
						WHERE agency_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('대행업체 업종 코드')">
						WHERE agency_businesstype_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('대행업체 직원 ID')">
						WHERE agency_employee_id = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 코드')">
						WHERE goodsfacility_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 명')">
						WHERE goodsfacility_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 시작 날짜')">
						WHERE date_afterservice_start = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 결과 전문가 소견')">
						WHERE text_expert_opinion = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 상태 분류')">
						WHERE classify_afterservice_state = #{searchWord}
					</when>
					<when test="searchSelect.equals('AS 종료일')">
						WHERE date_afterservice_end = #{searchWord}
					</when>
				</choose>
			</if>
			ORDER BY agency_afterservice_handling_code DESC
			LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	
	
	
	
	
	<update id="updateUnitedAfterserviceRequestForAcceptOrder"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		UPDATE
			united_afterservice_request
		SET
			is_agencyemployee_accept_request = 'Y'
		WHERE
			united_afterservice_request_code = #{unitedAfterserviceRequestCode}
	</update>
	
	<insert id="insertAgencyAfterserviceHandling"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		INSERT
		INTO
			agency_afterservice_handling(
				united_afterservice_request_code
				,agency_code
				,agency_name
				,agency_businesstype_code
				,agency_employee_id
				,goodsfacility_code
				,goodsfacility_name
				,date_afterservice_start
				,classify_afterservice_state
			)
		VALUES(
			#{unitedAfterserviceRequestCode}
			,#{agencyCode}
			,#{agencyName}
			,#{agencyBusinesstypeCode}
			,#{agencyEmployeeId}
			,#{goodsfacilityCode}
			,#{goodsfacilityName}
			,NOW()
			,'AS처리중'
		)
	</insert>
	
	<select id="selectOneAgencyBusinesstypeForAjax"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto">
		SELECT
			agency_businesstype_code AS agencyBusinesstypeCode
			,agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency_businesstype
		WHERE
			agency_businesstype_name = #{agencyBusinesstypeName}
	</select>
	
	
	
	
	
	<select id="selectOneAgencyAfterserviceHandlingDtoForAgencyEmployee"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		SELECT 
			agenemp.agency_employee_id AS agencyEmployeeId
			,agen.agency_code AS agencyCode
			,agen.agency_name AS agencyName
			,agenbusin.agency_businessType_name AS agencyBusinesstypeName
		
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
			
			INNER JOIN
			agency_businesstype AS agenbusin
			ON
			agen.agency_businesstype_code = agenbusin.agency_businesstype_code
		WHERE
			agenemp.agency_employee_id = #{agencyEmployeeId}
	</select>
	
	
	
	
	
	
	<select id="selectListAgencyBusinesstypeDto"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto">
		SELECT
			agenbusintype.agency_businesstype_code AS agencyBusinesstypeCode
			,agenbusintype.agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency_employee AS emp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			emp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
		
			INNER JOIN
			agency_businesstype AS agenbusintype
			ON
			agen.agency_businesstype_code = agenbusintype.agency_businesstype_code
		WHERE
			emp.agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="selectOneUnitedAfterserviceRequestDto"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			unitedar.united_afterservice_request_code AS unitedAfterserviceRequestCode
			,unitedar.return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,unitedar.regular_check_code AS regularCheckCode
			,unitedar.adminagency_code AS adminagencyCode
			,unitedar.goodsfacility_three_code AS goodsfacilityThreeCode
			,unitedar.goodsfacility_code AS goodsfacilityCode
			,unitedar.goodsfacility_name AS goodsfacilityName
			,unitedar.functionary_id AS functionaryId
			,unitedar.state_goods_code AS stateGoodsCode
			,unitedar.text_check_result_goodsfacility AS textCheckResultGoodsfacility
			,unitedar.agency_code AS agencyCode
			,unitedar.agency_name AS agencyName
			,unitedar.agency_businesstype_code AS agencyBusinesstypeCode
			,unitedar.date_request_afterservice AS dateRequestAfterservice
			,unitedar.date_complete_afterservice AS dateCompleteAfterservice
			,admina.adminagency_name AS adminagencyName
			,stateg.state_goods AS stateGoods
			,gfthree.goodsfacility_three_name AS goodsfacilityThreeName
			
			FROM
			united_afterservice_request AS unitedar
			INNER JOIN
			adminagency AS admina
			ON
			unitedar.adminagency_code = admina.adminagency_code
			
			INNER JOIN
			state_goods AS stateg
			ON
			unitedar.state_goods_code = stateg.state_goods_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			unitedar.goodsfacility_three_code = gfthree.goodsfacility_three_code
		WHERE
			united_afterservice_request_code = #{unitedAfterserviceRequestCode}
	</select>
	
	<select id="totalCountUnitedAfterserviceRequestDto"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			united_afterservice_request
		WHERE
			adminagency_code = #{agencyAfterserviceHandlingDto.adminagencyCode}
			AND
			is_agencyemployee_accept_request = 'N'
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
					AND united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
					AND return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('regularCheckCode')">
					AND regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					AND adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityThreeCode')">
					AND goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					AND goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					AND goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					AND functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					AND state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('textCheckResultGoodsfacility')">
					AND text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyCode')">
					AND agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyName')">
					AND agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyBusinesstypeCode')">
					AND agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRequestAfterservice')">
					AND date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateCompleteAfterservice')">
					AND date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListUnitedAfterserviceRequest"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT 
			united_afterservice_request_code AS unitedAfterserviceRequestCode
			,return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,regular_check_code AS regularCheckCode
			,adminagency_code AS adminagencyCode
			,goodsfacility_three_code AS goodsfacilityThreeCode
			,goodsfacility_code AS goodsfacilityCode
			,goodsfacility_name AS goodsfacilityName
			,functionary_id AS functionaryId
			,state_goods_code AS stateGoodsCode
			,text_check_result_goodsfacility AS textCheckResultGoodsfacility
			,agency_code AS agencyCode
			,agency_name AS agencyName
			,agency_businesstype_code AS agencyBusinesstypeCode
			,date_request_afterservice AS dateRequestAfterservice
			,date_complete_afterservice AS dateCompleteAfterservice
		FROM
			united_afterservice_request
		WHERE
			adminagency_code = #{agencyAfterserviceHandlingDto.adminagencyCode}
			AND
			is_agencyemployee_accept_request = 'N'
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
					AND united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
					AND return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('regularCheckCode')">
					AND regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					AND adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityThreeCode')">
					AND goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					AND goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					AND goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					AND functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					AND state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('textCheckResultGoodsfacility')">
					AND text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyCode')">
					AND agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyName')">
					AND agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyBusinesstypeCode')">
					AND agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRequestAfterservice')">
					AND date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateCompleteAfterservice')">
					AND date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY united_afterservice_request_code DESC
		LIMIT #{beginRow}, #{pagePerRow}
	
	</select>
	
	
</mapper>