<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingMapper">
	
	<insert id="insertAgencyAfterserviceHandling"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		INSERT
		INTO
			agency_afterservice_handling(
				united_afterservice_request_code
				,agency_code
				,agency_name
				,agency_businesstype_code
				,agency_employee_id
				,goodsfacility_code
				,goodsfacility_name
				,date_afterservice_start
				,classify_afterservice_state
			)
		VALUES(
			#{unitedAfterserviceRequestCode}
			,#{agencyCode}
			,#{agencyName}
			,#{agencyBusinesstypeCode}
			,#{agencyEmployeeId}
			,#{goodsfacilityCode}
			,#{goodsfacilityName}
			,NOW()
			,#{classifyAfterserviceState}
		)
	</insert>
	
	<select id="selectOneAgencyBusinesstypeForAjax"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto">
		SELECT
			agency_businesstype_code AS agencyBusinesstypeCode
			,agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency_businesstype
		WHERE
			agency_businesstype_name = #{agencyBusinesstypeName}
	</select>
	
	
	
	
	
	<select id="selectOneAgencyAfterserviceHandlingDtoForAgencyEmployee"
			parameterType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyAfterserviceHandlingDto">
		SELECT
			agenemp.agency_employee_id AS agencyEmployeeId
			,agen.agency_code AS agencyCode
			,agen.agency_name AS agencyName
			
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
		WHERE
			agenemp.agency_employee_id = #{agencyEmployeeId}
			AND
			agen.agency_businesstype_code = #{agencyBusinesstypeCode}
	</select>
	
	
	
	
	
	
	<select id="selectListAgencyBusinesstypeDto"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.agencyAfterserviceHandling.service.AgencyBusinesstypeDto">
		SELECT
			agenbusintype.agency_businesstype_code AS agencyBusinesstypeCode
			,agenbusintype.agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency_employee AS emp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			emp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
		
			INNER JOIN
			agency_businesstype AS agenbusintype
			ON
			agen.agency_businesstype_code = agenbusintype.agency_businesstype_code
		WHERE
			emp.agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="selectOneUnitedAfterserviceRequestDto"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			unitedar.united_afterservice_request_code AS unitedAfterserviceRequestCode
			,unitedar.return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,unitedar.regular_check_code AS regularCheckCode
			,unitedar.adminagency_code AS adminagencyCode
			,unitedar.goodsfacility_three_code AS goodsfacilityThreeCode
			,unitedar.goodsfacility_code AS goodsfacilityCode
			,unitedar.goodsfacility_name AS goodsfacilityName
			,unitedar.functionary_id AS functionaryId
			,unitedar.state_goods_code AS stateGoodsCode
			,unitedar.text_check_result_goodsfacility AS textCheckResultGoodsfacility
			,unitedar.agency_code AS agencyCode
			,unitedar.agency_name AS agencyName
			,unitedar.agency_businesstype_code AS agencyBusinesstypeCode
			,unitedar.date_request_afterservice AS dateRequestAfterservice
			,unitedar.date_complete_afterservice AS dateCompleteAfterservice
			,admina.adminagency_name AS adminagencyName
			,stateg.state_goods AS stateGoods
			,gfthree.goodsfacility_three_name AS goodsfacilityThreeName
			
			FROM
			united_afterservice_request AS unitedar
			INNER JOIN
			adminagency AS admina
			ON
			unitedar.adminagency_code = admina.adminagency_code
			
			INNER JOIN
			state_goods AS stateg
			ON
			unitedar.state_goods_code = stateg.state_goods_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			unitedar.goodsfacility_three_code = gfthree.goodsfacility_three_code
		WHERE
			united_afterservice_request_code = #{unitedAfterserviceRequestCode}
	</select>
	
	<select id="totalCountUnitedAfterserviceRequestDto"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			united_afterservice_request
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('AS 코드')">
					WHERE united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('반납 정보 코드')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('정기점검 코드')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관 코드')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('카테고리 코드')">
					WHERE goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 코드')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 명')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원 ID')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 상태 코드')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 점검 결과')">
					WHERE text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('대행업체 코드')">
					WHERE agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('대행업체 명')">
					WHERE agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('대행업체 업종 코드')">
					WHERE agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('AS 요청일자')">
					WHERE date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('AS 완료일자')">
					WHERE date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListUnitedAfterserviceRequest"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			united_afterservice_request_code AS unitedAfterserviceRequestCode
			,return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,regular_check_code AS regularCheckCode
			,adminagency_code AS adminagencyCode
			,goodsfacility_three_code AS goodsfacilityThreeCode
			,goodsfacility_code AS goodsfacilityCode
			,goodsfacility_name AS goodsfacilityName
			,functionary_id AS functionaryId
			,state_goods_code AS stateGoodsCode
			,text_check_result_goodsfacility AS textCheckResultGoodsfacility
			,agency_code AS agencyCode
			,agency_name AS agencyName
			,agency_businesstype_code AS agencyBusinesstypeCode
			,date_request_afterservice AS dateRequestAfterservice
			,date_complete_afterservice AS dateCompleteAfterservice
		FROM
			united_afterservice_request
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
					WHERE united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('regularCheckCode')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityThreeCode')">
					WHERE goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('textCheckResultGoodsfacility')">
					WHERE text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyCode')">
					WHERE agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyName')">
					WHERE agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyBusinesstypeCode')">
					WHERE agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRequestAfterservice')">
					WHERE date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateCompleteAfterservice')">
					WHERE date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY united_afterservice_request_code DESC
		LIMIT #{beginRow}, #{pagePerRow}
	
	</select>
	
	
</mapper>