<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.or.nationRental.board.service.BoardMapper">
  	
  	<select id="totalCountBoard"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			board
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('boardCode')">
					WHERE board_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardCategoryCode')">
					WHERE board_category_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberId')">
					WHERE member_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardName')">
					WHERE board_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textBoardContent')">
					WHERE text_board_content = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListBoard"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.board.service.BoardDto">
		SELECT
			board_code AS boardCode
			,board_category_code AS boardCategoryCode
			,member_id AS memberId
			,board_name AS boardName
			,text_board_content AS textBoardContent
			,date_write_board AS dateWriteBoard
			,board_hits AS boardHits
		FROM
			board
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('boardCode')">
					WHERE board_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardCategoryCode')">
					WHERE board_category_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberId')">
					WHERE member_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardName')">
					WHERE board_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textBoardContent')">
					WHERE text_board_content = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY board_code DESC
		LIMIT #{beginRow}, #{pagePerRow}	
	</select>
  	
  	<!-- <select id="selectListBoard"
  			resultType="kr.or.nationRental.board.service.BoardDto">
		SELECT
			board_code AS baordCode
			,board_category_code AS boardCategoryCode
			,member_id AS memberId
			,board_pw AS boardPw
			,board_name AS boardName
			,text_board_content AS textBoardContent
			,date_write_board AS dateWriteBoard
			,board_hits AS boardHits
		FROM
			board
		
  	</select> -->

  </mapper>