<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.donation.service.DonationMapper">

	<!-- 회원 : 기부신청 등록 -->
	<insert id="insertDonation" parameterType="kr.or.nationRental.donation.service.DonationDto">
	INSERT INTO donation_request (
		donation_request_code
		, member_id
		, donation_title
		, donation_pw
		, donation_content
		, donation_request_date
	) VALUES (
			NULL
			, #{memberId}
			, #{donationTitle}
			, #{donationPw}
			, #{donationContent}
			, NOW()
	)
	</insert>
	
	<select id="selectListDonation"
			parameterType="String"
			resultType="kr.or.nationRental.donation.service.DonationDto">
		SELECT
			donation_request_code AS donationRequestCode
			, member_id AS memberId
			, donation_title AS donationTitle
			, donation_pw AS donationPw
			, donation_content AS donationContent
			, donation_request_date AS donationRequestDate
		FROM
			donation_request
		WHERE 
  			member_id = #{memberId}
		ORDER BY donation_request_code DESC	
	</select>

</mapper>