<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.donation.service.DonationMapper">

	<!-- 회원 : 기부신청 등록 -->
	<insert id="insertDonation" 
			parameterType="kr.or.nationRental.donation.service.DonationDto">
	INSERT INTO donation_request (
		donation_request_code
		, member_id
		, donation_title
		, donation_content
		, donation_request_date
		, donation_approval
	) VALUES (
			NULL
			, #{memberId}
			, #{donationTitle}
			, #{donationContent}
			, NOW()
			, #{donationApproval}
	)
	</insert>

	<!-- 회원 기부 수정 -->
	<update id="updateDonation" parameterType="kr.or.nationRental.donation.service.DonationDto">
	UPDATE donation_request
	SET
		donation_title = #{donationTitle}
		, donation_content = #{donationContent}
	WHERE 
		donation_request_code = #{donationRequestCode}
	</update>
	
	<!-- 회원 : 기부 취소(삭제) -->
	<delete id="deleteDonation" parameterType="kr.or.nationRental.donation.service.DonationDto">
	 DELETE FROM donation_request 
	 WHERE 
	 	donation_request_code=#{donationRequestCode}
	</delete>
  		
	<!-- 공무원 : 기부신청 리스트 -->
	<select id="selectListDonation"
			parameterType="String"
			resultType="kr.or.nationRental.donation.service.DonationDto">
		SELECT
			donation_request_code AS donationRequestCode
			, member_id AS memberId
			, donation_title AS donationTitle
			, donation_content AS donationContent
			, donation_request_date AS donationRequestDate
			, donation_approval AS donationApproval
		FROM
			donation_request
		WHERE 
  			member_id = #{memberId}
		ORDER BY donation_request_code DESC	
	</select>
	
	<!-- 공무원 : 기부신청 리스트 -->
	<select id="approvalListDonation"
			resultType="kr.or.nationRental.donation.service.DonationDto">
		SELECT
			donation_request_code AS donationRequestCode
			, member_id AS memberId
			, donation_title AS donationTitle
			, donation_content AS donationContent
			, donation_request_date AS donationRequestDate
			, donation_approval AS donationApproval
		FROM
			donation_request
		ORDER BY donation_request_code DESC	
	</select>
	
	<!-- 회원/공무원 : 기부신청 1개 게시글 보기 -->
	<select id="viewDonation" 
			resultType="kr.or.nationRental.donation.service.DonationDto">
		SELECT
			donation_request_code as donationRequestCode
			, member_id as memberId
			, donation_title as donationTitle
			, donation_content as donationContent
			, donation_request_date as donationRequestDate
			, donation_approval as donationApproval
		FROM
			donation_request
		WHERE 
  			donation_request_code = #{donationRequestCode}
	</select>
	
	<!-- 공무원 : 기부 승인(업데이트) -->
	<update id="updateApprovalDonation" 
			parameterType="kr.or.nationRental.donation.service.DonationDto">
		UPDATE donation_request
		SET
			donation_approval = #{donationApproval}
		WHERE 
			donation_request_code = #{donationRequestCode}
	</update>
	
	
</mapper>