<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.login.service.LoginMapper">

	<select id="getAgencyEmployeeAgencyName"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="String">
		SELECT
			agency_name
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{memberId}		
		
	</select>


	<select id="loginCheckAdministrator"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			administrator
		WHERE
			administrator_id = #{memberId}
			AND
			administrator_pw = #{memberPw}
			
	</select>
	
	<select id="selectOneAdministratorById"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="kr.or.nationRental.login.service.MemberDto">
		SELECT
			administrator_id AS memberId
			,administrator_pw AS memberPw
			,administrator_name AS memberName
			,administrator_phone AS memberPhone
		FROM
			administrator
		WHERE
			administrator_id = #{memberId}
			AND
			administrator_pw = #{memberPw}
	</select>
	
	<select id="loginCheckCitizen"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			citizen
		WHERE
			citizen_id = #{memberId}
			AND
			citizen_pw = #{memberPw}	
	</select>
	
	<select id="selectOneCitizenById"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="kr.or.nationRental.login.service.MemberDto">
		SELECT
			citizen_id AS memberId
			,citizen_pw AS memberPw
			,citizen_name AS memberName
			,citizen_phone AS memberPhone
		FROM
			citizen
		WHERE
			citizen_id = #{memberId}
			AND
			citizen_pw = #{memberPw}
	</select>
	
	<select id="loginCheckAgencyEmployee"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
			
		SELECT
			COUNT(*)
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{memberId}
			AND
			agency_employee_pw = #{memberPw}	
	</select>
	
	<select id="selectOneAgencyEmployeeById"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="kr.or.nationRental.login.service.MemberDto">
		SELECT DISTINCT
			agenemp.agency_employee_id AS memberId
			,agenemp.agency_employee_pw AS memberPw
			,agenemp.agency_employee_name AS memberName
			,agenemp.agency_employee_phone AS memberPhone
			,agen.adminagency_code AS adminagencyCode
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
		WHERE
			agenemp.agency_employee_id = #{memberId}
			AND
			agenemp.agency_employee_pw = #{memberPw}
	</select>
	
	<select id="loginCheckFunctionary"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
			
		SELECT
			COUNT(*)
		FROM
			functionary
		WHERE
			functionary_id = #{memberId}
			AND
			functionary_pw = #{memberPw}
	</select>
	
	<select id="selectOneFunctionaryById"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="kr.or.nationRental.login.service.MemberDto">
		SELECT
			functionary_id AS memberId
			,functionary_pw AS memberPw
			,functionary_name AS memberName
			,functionary_phone AS memberPhone
			,adminagency_code AS adminagencyCode
		FROM
			functionary
		WHERE
			functionary_id = #{memberId}
			AND
			functionary_pw = #{memberPw}
	</select>
	
	
	
</mapper>