<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryMapper">
	
	<update id="updateGoodsfacilityStateAfterService"
			parameterType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		UPDATE
			goodsfacility
		SET
			goodsfacility_state_afterservice = '배송준비중'
			,goodsfacility_is_possible_rental = 'N'
		WHERE
			goodsfacility_code = #{goodsfacilityCode}
	</update>
	
	<update id="updateDeliveryOrderCitizenForAccept"
			parameterType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		UPDATE
			delivery_order_citizen
		SET
			is_functionary_accept_order = 'Y'
		WHERE
			delivery_order_citizen_code = #{deliveryOrderCitizenCode}
	</update>
	
	<insert id="insertDeliveryOrderFunctionary"
			parameterType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		INSERT
		INTO
			delivery_order_functionary(
				delivery_order_citizen_code
				,adminagency_code
				,agency_code
				,agency_name
				,functionary_id
				,delivery_order_functionary_date
			)
		VALUES(
			#{deliveryOrderCitizenCode}
			,#{adminagencyCode}
			,#{agencyCode}
			,#{agencyName}
			,#{functionaryId}
			,NOW()
		)
	</insert>
	
	<select id="selectListAgencyNameAndBusinesstypeName"
			parameterType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto"
			resultType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		SELECT
			agen.agency_name AS agencyName
			,agenbusin.agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency AS agen
			INNER JOIN
			agency_businesstype AS agenbusin
			ON
			agen.agency_businesstype_code = agenbusin.agency_businesstype_code
		WHERE
			agen.adminagency_code = #{adminagencyCode}
			AND
			agenbusin.agency_businesstype_name = '배달'
	</select>
	
	<select id="selectOneDeliveryOrderFunctionaryForInsertForm"
			parameterType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto"
			resultType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		SELECT
			gf.goodsfacility_code AS goodsfacilityCode
			,gf.goodsfacility_classify_goodsfacility AS goodsfacilityClassifyGoodsfacility
			,gfthree.goodsfacility_three_name AS goodsfacilityThreeName
			,gf.goodsfacility_name AS goodsfacilityName
			,delivorderciti.classify_rental_state AS classifyRentalState
			,delivorderciti.citizen_id AS citizenId
			,delivorderciti.send_address_sido AS sendAddressSido
			,delivorderciti.send_address_sigungu AS sendAddressSigungu
			,delivorderciti.send_address_eupmyeon AS sendAddressEupmyeon
			,delivorderciti.send_address_sangse AS sendAddressSangse
			,delivorderciti.receive_address_sido AS receiveAddressSido
			,delivorderciti.receive_address_sigungu AS receiveAddressSigungu
			,delivorderciti.receive_address_eupmyeon AS receiveAddressEupmyeon
			,delivorderciti.receive_address_sangse AS receiveAddressSangse
		FROM
			delivery_order_citizen AS delivorderciti
			INNER JOIN
			goodsfacility AS gf
			ON
			delivorderciti.goodsfacility_code = gf.goodsfacility_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			gf.goodsfacility_three_code = gfthree.goodsfacility_three_code
	
		WHERE
			delivorderciti.delivery_order_citizen_code = ${deliveryOrderCitizenCode};
	</select>
	
	
	
	<select id="totalCountDeliveryOrderCitizenForAfterservice"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			delivery_order_citizen AS delivorderciti
			INNER JOIN
			adminagency AS admina
			ON
			delivorderciti.adminagency_code = admina.adminagency_code
			
			INNER JOIN
			goodsfacility AS gf
			ON
			delivorderciti.goodsfacility_code = gf.goodsfacility_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			gf.goodsfacility_three_code = gfthree.goodsfacility_three_code
		WHERE
			delivorderciti.adminagency_code = 1234
			AND
			delivorderciti.is_canceled_delivery = 'N'
			AND
			delivorderciti.is_functionary_accept_order = 'N'
			AND
			gf.goodsfacility_state_afterservice = '일반'
			<if test="!searchWord.equals('')">
				<choose>
					<when test="searchSelect.equals('시민 배달 신청 코드')">
						AND delivorderciti.delivery_order_citizen_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('시설/물품 대여 코드')">
						AND delivorderciti.goodsfacility_rental_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('지자체 기관 코드')">
						AND admina.adminagency_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('지자체 기관명')">
						AND admina.adminagency_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 코드')">
						AND gf.goodsfacility_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 분류')">
						AND gf.goodsfacility_classify_goodsfacility = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 카테고리 코드')">
						AND gfthree.goodsfacility_three_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 카테고리')">
						AND gfthree.goodsfacility_three_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 명')">
						AND gf.goodsfacility_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('대여/반납 상태')">
						AND delivorderciti.classify_rental_state = #{searchWord}
					</when>
					<when test="searchSelect.equals('배달 요청 시민 ID')">
						AND delivorderciti.citizen_id = #{searchWord}
					</when>
					<when test="searchSelect.equals('배달 취소 여부')">
						AND delivorderciti.is_canceled_delivery = #{searchWord}
					</when>
					<when test="searchSelect.equals('시민 배달 신청 날짜')">
						AND delivorderciti.delivery_order_citizen_date = #{searchWord}
					</when>
				</choose>
			</if>
	</select>
	
	<select id="selectListDeliveryOrderCitizenForAfterservice"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.deliveryOrderFunctionaryService.DeliveryOrderFunctionaryDto">
		SELECT
			delivorderciti.delivery_order_citizen_code AS deliveryOrderCitizenCode
			,delivorderciti.goodsfacility_rental_code AS goodsfacilityRentalCode
			,admina.adminagency_code AS adminagencyCode
			,admina.adminagency_name AS adminagencyName
			,gf.goodsfacility_code AS goodsfacilityCode
			,gf.goodsfacility_classify_goodsfacility AS goodsfacilityClassifyGoodsfacility
			,gfthree.goodsfacility_three_code AS goodsfacilityThreeCode
			,gfthree.goodsfacility_three_name AS goodsfacilityThreeName
			,gf.goodsfacility_name AS goodsfacilityName
			,delivorderciti.classify_rental_state AS classifyRentalState
			,delivorderciti.citizen_id AS citizenId
			,delivorderciti.send_address_sido AS sendAddressSido
			,delivorderciti.send_address_sigungu AS sendAddressSigungu
			,delivorderciti.send_address_eupmyeon AS sendAddressEupmyeon
			,delivorderciti.send_address_sangse AS sendAddressSangse
			,delivorderciti.receive_address_sido AS receiveAddressSido
			,delivorderciti.receive_address_sigungu AS receiveAddressSigungu
			,delivorderciti.receive_address_eupmyeon AS receiveAddressEupmyeon
			,delivorderciti.receive_address_sangse AS receiveAddressSangse
			,delivorderciti.is_canceled_delivery AS isCanceledDelivery
			,delivorderciti.delivery_order_citizen_date AS deliveryOrderCitizenDate
		FROM
			delivery_order_citizen AS delivorderciti
			INNER JOIN
			adminagency AS admina
			ON
			delivorderciti.adminagency_code = admina.adminagency_code
			
			INNER JOIN
			goodsfacility AS gf
			ON
			delivorderciti.goodsfacility_code = gf.goodsfacility_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			gf.goodsfacility_three_code = gfthree.goodsfacility_three_code
		WHERE
			delivorderciti.adminagency_code = 1234
			AND
			delivorderciti.is_canceled_delivery = 'N'
			AND
			delivorderciti.is_functionary_accept_order = 'N'
			AND
			gf.goodsfacility_state_afterservice = '일반'
			
			<if test="!searchWord.equals('')">
				<choose>
					<when test="searchSelect.equals('시민 배달 신청 코드')">
						AND delivorderciti.delivery_order_citizen_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('시설/물품 대여 코드')">
						AND delivorderciti.goodsfacility_rental_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('지자체 기관 코드')">
						AND admina.adminagency_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('지자체 기관명')">
						AND admina.adminagency_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 코드')">
						AND gf.goodsfacility_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 분류')">
						AND gf.goodsfacility_classify_goodsfacility = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 카테고리 코드')">
						AND gfthree.goodsfacility_three_code = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 카테고리')">
						AND gfthree.goodsfacility_three_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('물품/시설 명')">
						AND gf.goodsfacility_name = #{searchWord}
					</when>
					<when test="searchSelect.equals('대여/반납 상태')">
						AND delivorderciti.classify_rental_state = #{searchWord}
					</when>
					<when test="searchSelect.equals('배달 요청 시민 ID')">
						AND delivorderciti.citizen_id = #{searchWord}
					</when>
					<when test="searchSelect.equals('배달 취소 여부')">
						AND delivorderciti.is_canceled_delivery = #{searchWord}
					</when>
					<when test="searchSelect.equals('시민 배달 신청 날짜')">
						AND delivorderciti.delivery_order_citizen_date = #{searchWord}
					</when>
				</choose>
			</if>
			ORDER BY delivorderciti.delivery_order_citizen_date DESC
			LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	
	<!-- <select id="selectOneUnitedAfterserviceRequestDtoForInsertRegularCheckAS"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			
		FROM
						
		WHERE
		
			
	</select>
	 -->
	
	
	
</mapper>