<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="kr.or.nationRental.functionary.service.FunctionaryMapper">
	<insert id="insertFunctionary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		
		INSERT INTO functionary
			(functionary_id 
			,adminagency_code 
			,functionary_num
			,functionary_pw 
			,functionary_name
			,functionary_phone
			,functionary_email 
			,functionary_date_join)
		VALUES (#{functionaryId}
				,#{adminagencyCode}
				,#{functionaryNum}
				,#{functionaryPw}
				,#{functionaryName}
				,#{functionaryPhone} 
				,#{functionaryEmail} 
				,NOW())
		
	</insert>
	
	<insert id="insertFunctionaryMoveInout" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		INSERT INTO functionary_move_inout
			(functionary_move_inout_code
			,adminagency_code
			,functionary_id
			,functionary_name
			,functionary_date_move_in
			,functionary_date_move_out
			,functionary_state_work)
		VALUES (null
				,#{adminagencyCode}
				,#{functionaryId}
				,#{functionaryName}
				, NOW()
				, null
				, '근무중')
						
	</insert>	
	
	<select id="totalCountFunctionary"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
		COUNT(*)
			FROM functionary
			inner join adminagency
				using(adminagency_code)					
			<choose>	      
		        <when test="searchOption == '전체 검색'">    
		        	where functionary.functionary_name like CONCAT('%', #{keyword}, '%')
		        	or adminagency.adminagency_name like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
		        <when test="searchOption == '공무원 이름 검색'">    
		        	where functionary.functionary_name like CONCAT('%', #{keyword}, '%')	        	        	           
		        </when>
		        <when test="searchOption == '소속 행정기관 검색'"> 
		        	where adminagency.adminagency_name like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
	    	</choose>
	</select>
	
	<select id="selectListFunctionary" parameterType="java.util.Map"  resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
				functionary.functionary_id as functionaryId
				,functionary.adminagency_code as adminagencyCode
				,adminagency.adminagency_name as adminagencyName
				,functionary.functionary_num as functionaryNum
				,functionary.functionary_pw as functionaryPw
				,functionary.functionary_name as functionaryName
				,functionary.functionary_phone as functionaryPhone
				,functionary.functionary_email as functionaryEmail
				,functionary.functionary_date_join as functionaryDateJoin
			FROM functionary
			inner join adminagency
				using(adminagency_code)					
			<choose>	      
		        <when test="searchOption == '전체 검색'">    
		        	where functionary.functionary_name like CONCAT('%', #{keyword}, '%')
		        	or adminagency.adminagency_name like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
		        <when test="searchOption == '공무원 이름 검색'">    
		        	where functionary.functionary_name like CONCAT('%', #{keyword}, '%')	        	        	           
		        </when>
		        <when test="searchOption == '소속 행정기관 검색'"> 
		        	where adminagency.adminagency_name like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
	    	</choose>
		
		ORDER BY functionary_date_join DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<select id="viewFunctionaryInfo" parameterType="String" resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
			SELECT
				functionary_id as functionaryId
				,adminagency_code as adminagencyCode
				,functionary_num as functionaryNum
				,functionary_pw as functionaryPw
				,functionary_name as functionaryName
				,functionary_phone as functionaryPhone
				,functionary_email as functionaryEmail
				,functionary_date_join as functionaryDateJoin
			FROM functionary
			where functionary_id = #{functionaryId}		
	</select>
	
	<update id="updateFunctionnary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">		
		UPDATE functionary
				SET
			functionary_id = #{functionaryId}
			,adminagency_code = #{adminagencyCode}
			,functionary_name = #{functionaryName}
			,functionary_phone = #{functionaryPhone}
			,functionary_email = #{functionaryEmail}
		WHERE functionary_id=#{functionaryId}
	</update>
	
	<select id="selectFunctionaryMoveInout" parameterType="String" resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
			   functionary_move_inout_code as functionaryMoveInoutCode
			FROM
			    functionary_move_inout
			where functionary_id = #{functionaryId}
			ORDER BY  
			    functionary_date_move_in desc
			    limit 1
	</select>
	
	<update id="updateFuctionaryMoveInout" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">		
		UPDATE functionary_move_inout
				SET
			functionary_date_move_out = now()
			,functionary_state_work = '전출'			
		WHERE functionary_move_inout_code = #{functionaryMoveInoutCode}
	</update>
	
	<select id="selectAdminagency" parameterType="String" resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
			adminagency_code as adminagencyCode
			,adminagency_name as adminagencyName			
		FROM adminagency
		where adminagency_name like CONCAT('%', #{checkAdminagency}, '%')	
	</select>
	
	<delete id="deleteFunctionnary" parameterType="String">
		DELETE 
			FROM functionary 
			WHERE functionary_id=#{functionaryId}	
	</delete>
	
	<insert id="insertStorageFunctionary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		
		INSERT INTO storage_functionary
			(storage_functionary_id 
			,adminagency_code 
			,storage_functionary_num
			,storage_functionary_pw 
			,storage_functionary_name
			,storage_functionary_phone
			,storage_functionary_email 
			,storage_functionary_date_join
			,storage_functionary_date_leave)
		VALUES (#{functionaryId}
				,#{adminagencyCode}
				,#{functionaryNum}
				,#{functionaryPw}
				,#{functionaryName}
				,#{functionaryPhone} 
				,#{functionaryEmail} 
				,#{functionaryDateJoin}
				,NOW())
	
	</insert>
	
	<select id="administratorIdCheck"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			administrator
			where administrator_name = #{memberName}
			and administrator_phone = #{memberPhone}			
	</select>
	
	<select id="agencyEmployeeIdCheck"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		from agency_employee
			where agency_employee_name = #{memberName}
			and agency_employee_phone = #{memberPhone}					
	</select>
	
	<select id="citizenIdCheck"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		from citizen
			where citizen_name = #{memberName}
			and citizen_phone = #{memberPhone}			
	</select>
	
	<select id="functionaryIdCheck"
			parameterType="kr.or.nationRental.login.service.MemberDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		from functionary
			where functionary_name = #{memberName}
			and functionary_phone = #{memberPhone}				
	</select>
	
	
	
	
	
	<select id="administratorIdSelect" parameterType="kr.or.nationRental.login.service.MemberDto" resultType="String">
		SELECT
			administrator_id as adminId
			from administrator
			where administrator_name = #{memberName}
			and administrator_phone = #{memberPhone}		
	</select>
	
	<select id="agencyEmployeeIdSelect" parameterType="kr.or.nationRental.login.service.MemberDto" resultType="String">
		SELECT
			agency_employee_id as agencyEmployeeId
			from agency_employee
			where agency_employee_name = #{memberName}
			and agency_employee_phone = #{memberPhone}		
	</select>
	
	<select id="citizenIdSelect" parameterType="kr.or.nationRental.login.service.MemberDto" resultType="String">
		SELECT
			citizen_id as citizenId
			from citizen
			where citizen_name = #{memberName}
			and citizen_phone = #{memberPhone}		
	</select>
	
	<select id="functionaryIdSelect" parameterType="kr.or.nationRental.login.service.MemberDto" resultType="String">
		SELECT
			functionary_id as functionaryId
			from functionary
			where functionary_name = #{memberName}
			and functionary_phone = #{memberPhone}		
	</select>
	
	<select id="selectFunctionaryWorkGoodsfacility" 
		parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" 
		resultType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto">
		<!-- SELECT
			goodsfacility_code as goodsfacilityCode
			,goodsfacility_name as goodsfacilityName
			,goodsfacility_purchaseprice as goodsfacilityPurchaseprice
			,goodsfacility_price_rental as goodsfacilityPriceRental
			,adminagency_code as adminagencyCode
			,adminagency_name as adminagencyName
			,goodsfacility_classify_goodsfacility as goodsfacilityClassifyGoodsfacility
			,goodsfacility_classify_donationpurchase as goodsfacilityClassifyDonationpurchase
			,goodsfacility_is_extra as goodsfacilityIsExtra
			,goodsfacility_is_possible_delivery as goodsfacilityIsPossibleDelivery
			,goodsfacility_state_afterservice as goodsfacilityStateAfterservice
			,goodsfacility_is_possible_rental as goodsfacilityIsPossibleRental
			,goodsfacility_date_registration as goodsfacilityDateRegistration
			from goodsfacility
			inner join adminagency
			using(adminagency_code) -->
		SELECT
			goodsfacility.goodsfacility_code as goodsfacilityCode
			,goodsfacility.goodsfacility_name as goodsfacilityName		
			,goodsfacility.adminagency_code as adminagencyCode
			,adminagency.adminagency_name as adminagencyName		
			,goodsfacility.goodsfacility_date_registration as goodsfacilityDateRegistration
		from goodsfacility
		inner join adminagency
			using(adminagency_code)
			where functionary_id = #{functionaryId}	
	</select>
	
	<select id="selectFunctionaryWorkReturnGoodsfacilityInfo" 
	parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" 
	resultType="kr.or.nationRental.returnGoodsfacilityInfo.service.ReturnGoodsfacilityInfoDto">
		SELECT
			rgi.return_goodsfacility_info_code as returnGoodsfacilityInfoCode
			,rgi.goodsfacility_code as goodsfacilityCode
			,rgi.classify_goodsfacility as classifyGoodsfacility
			,rgi.citizen_id as citizenId
			,ci.citizen_name as citizenName
			,rgi.is_requested_to_return_as_delivery as isRequestedToReturnAsDelivery
			,rgi.overdue_days as overdueDays
			,rgi.adminagency_code as adminagencyCode
			,ad.adminagency_name as adminagencyName
			,rgi.state_goods_code as stateGoodsCode
			,rgi.date_return_check as dateReturnCheck
			from return_goodsfacility_info as rgi
			inner join adminagency as ad
			 using(adminagency_code)
			inner join citizen as ci
				using(citizen_id)
			where functionary_id = #{functionaryId}
	</select>
	
	<select id="selectFunctionaryWorkUnitedAfterserviceReques" 
	parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" 
	resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			united_afterservice_request.united_afterservice_request_code as unitedAfterserviceRequestCode
			,(case 
			 when 0 = united_afterservice_request.return_goodsfacility_info_code then '정기점검'
			 when united_afterservice_request.return_goodsfacility_info_code > 0 then '반납'
			 else '에러'
			  end) as requestType
			,united_afterservice_request.adminagency_code as adminagencyCode
			,adminagency.adminagency_name as adminagencyName
			,united_afterservice_request.goodsfacility_code as goodsfacilityCode
			,united_afterservice_request.goodsfacility_name as goodsfacilityName
			,united_afterservice_request.state_goods_code as stateGoodsCode
			,united_afterservice_request.text_check_result_goodsfacility as textCheckResultGoodsfacility
			,united_afterservice_request.agency_code as agencyCode
			,united_afterservice_request.agency_name as agencyName
			,united_afterservice_request.date_request_afterservice as dateRequestAfterservice
			,united_afterservice_request.date_complete_afterservice as dateCompleteAfterservice
		from united_afterservice_request
		inner join adminagency
		 using(adminagency_code)
			where functionary_id = #{functionaryId}				
	</select>
	
	<select id="selectFunctionaryWorkAgency" 
	parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" 
	resultType="kr.or.nationRental.agency.service.AgencyDto">
		SELECT
			agency.agency_code as agencyCode
			,agency.adminagency_code as adminagencyCode
			,adminagency.adminagency_name as adminagencyName
			,agency.functionary_name as functionaryName
			,functionary.functionary_id as functionaryId			
			,agency.agency_name as agencyName
			,agency.agency_businesstype_code as agencyBusinesstypeCode
			,agency.agency_date_registration as agencyDateRegistration
			,agency.agency_date_contract_closed as agencyDateContractClosed			
		from functionary
		inner join agency
		    using(functionary_name)
		inner join adminagency
			on agency.adminagency_code = adminagency.adminagency_code
			where functionary.functionary_id = #{functionaryId}	
	</select>
	
	<select id="selectFunctionaryWorkAnnualfeePakage" 
	parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" 
	resultType="kr.or.nationRental.annualfeePakage.service.AnnualfeePakageDto">
		SELECT
			annualfee_pakage_code as annualfeePakageCode
			,annualfee_pakage_name as annualfeePakageName
			,annualfee_pakage_price as annualfeePakagePrice
			,annualfee_pakage_text_sangse as annualfeePakageTextSangse
			,annualfee_pakage_discount_rate as annualfeePakageDiscountRate
			,adminagency_code as adminagencyCode
			,annualfee_pakage_date_registration as annualfeePakageDateRegistration			
		from annualfee_pakage
		inner join annualfee_pakage_authority
			using(annualfee_pakage_code)
			where functionary_id = #{functionaryId}	
	</select>
</mapper>
	