<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="kr.or.nationRental.functionary.service.FunctionaryMapper">
	<insert id="insertFunctionary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		
		INSERT INTO functionary
			(functionary_id 
			,adminagency_code 
			,functionary_num
			,functionary_pw 
			,functionary_name
			,functionary_phone
			,functionary_email 
			,functionary_date_join)
		VALUES (#{functionaryId}
				,#{adminagencyCode}
				,#{functionaryNum}
				,#{functionaryPw}
				,#{functionaryName}
				,#{functionaryPhone} 
				,#{functionaryEmail} 
				,NOW())
		
	</insert>
	
	<insert id="insertFunctionaryMoveInout" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		INSERT INTO functionary_move_inout
			(functionary_move_inout_code
			,adminagency_code
			,functionary_id
			,functionary_name
			,functionary_date_work_start
			,functionary_date_work_end
			,functionary_state_work)
		VALUES (null
				,#{adminagencyCode}
				,#{functionaryId}
				,#{functionaryName}
				, NOW()
				, null
				, '근무중')
						
	</insert>	
	
	<select id="totalCountFunctionary"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
		COUNT(*)
			FROM functionary
			<choose>	      
		        <when test="searchOption == 'all'">    
		        	where functionary_name like CONCAT('%', #{keyword}, '%')
		        	or adminagency_code like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
		        <otherwise>
		        	where #{searchOption} like CONCAT('%', #{keyword}, '%')	        
		        </otherwise>
	    	</choose>
	</select>
	
	<select id="selectListFunctionary" parameterType="java.util.Map"  resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
				functionary_id as functionaryId
				,adminagency_code as adminagencyCode
				,functionary_num as functionaryNum
				,functionary_pw as functionaryPw
				,functionary_name as functionaryName
				,functionary_phone as functionaryPhone
				,functionary_email as functionaryEmail
				,functionary_date_join as functionaryDateJoin
			FROM functionary
					
			<choose>	      
		        <when test="searchOption == 'all'">    
		        	where functionary_name like CONCAT('%', #{keyword}, '%')
		        	or adminagency_code like CONCAT('%', #{keyword}, '%')		        	        	           
		        </when>
		        <otherwise>
		        	where ${searchOption} like CONCAT('%', #{keyword}, '%')	        
		        </otherwise>
	    	</choose>
		
		ORDER BY functionary_date_join DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<select id="functionaryBasicInformation" parameterType="String" resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
			SELECT
				functionary_id as functionaryId
				,adminagency_code as adminagencyCode
				,functionary_name as functionaryName
				,functionary_phone as functionaryPhone
				,functionary_email as functionaryEmail
				,functionary_date_join as functionaryDateJoin
			FROM functionary
			where functionary_id = #{functionaryId}		
	</select>
	
	<update id="updateFunctionnary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">		
		UPDATE functionary
				SET
			functionary_id = #{functionaryId}
			,adminagency_code = #{adminagencyCode}
			,functionary_name = #{functionaryName}
			,functionary_phone = #{functionaryPhone}
			,functionary_email = #{functionaryEmail}
		WHERE functionary_id=#{functionaryId}
	</update>
	
	<select id="selectAdminagency" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto" resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
			adminagency_code as adminagencyCode
			,adminagency_name as adminagencyName			
		FROM adminagency
		where adminagency_name like CONCAT('%', #{adminagencyName}, '%')	
	</select>
</mapper>
	