<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="kr.or.nationRental.functionary.service.FunctionaryMapper">
	<insert id="insertFunctionary" parameterType="kr.or.nationRental.functionary.service.FunctionaryDto">
		
			INSERT INTO functionary
				(functionary_id 
				,adminagency_code 
				,functionary_num
				,functionary_pw 
				,functionary_name
				,functionary_phone
				,functionary_email 
				,functionary_date_join)
			VALUES (#{functionaryId}
					,#{adminagencyCode}
					,#{functionaryNum}
					,#{functionaryPw}
					,#{functionaryName}
					,#{functionaryPhone} 
					,#{functionaryEmail} 
					,NOW())
		
	</insert>	
	
	<select id="totalCountFunctionary"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
		COUNT(*)
			FROM functionary
		<!-- <choose>	      
	        <when test="searchOption == 'all'">    
	        	and resume like CONCAT('%', '#{keyword}','%')	        	           
	        </when>
	        <otherwise>
	        	and #{searchOption} like CONCAT('%','#{keyword}','%')	             
	        </otherwise>
	    </choose> -->
	</select>
	
	<select id="selectListFunctionary" parameterType="java.util.Map"  resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
				functionary_id as functionaryId
				,adminagency_code as adminagencyCode
				,functionary_num as functionaryNum
				,functionary_pw as functionaryPw
				,functionary_name as functionaryName
				,functionary_phone as functionaryPhone
				,functionary_email as functionaryEmail
				,functionary_date_join as functionaryDateJoin
			FROM functionary
			
		
			<!-- <choose>	      
		        <when test="searchOption == 'all'">    
		        	and resume_title like CONCAT('%', '#{keyword}', '%')
		        	or resume_content like CONCAT('%', '#{keyword}', '%')       	           
		        </when>
		        <otherwise>
		        	and #{searchOption} like CONCAT('%', '#{keyword}', '%')	             
		        </otherwise>
	    	</choose> -->
		
		ORDER BY functionary_date_join DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
</mapper>
	