<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.district.service.DistrictMapper">
	
	<!--
		selectListDistrict 클래스에 대한 ResultMap
		property에 명시한 항목들은 클래스의 멤버변수를 의미한다.
		column에 명시한 항목들은 해당 멤버변수에 저장될 SELECT절의 컬럼이름이 된다.
	-->
	<resultMap id="selectListDistrict" type="kr.or.nationRental.district.service.DistrictDto">
		<result property="sidoCode" column="sido_code" />
		<result property="sigunguCode" column="sigungu_code" />
		<result property="eupmyeonCode" column="eupmyeon_code" />
		<result property="sidoName" column="sido_name" />
		<result property="sigunguName" column="sigungu_name" />
		<result property="sigunguMiddleCode" column="sigungu_middle_code" />
		<result property="eupmyeonName" column="eupmyeon_name" />
		<result property="eupmyeonMiddleCode" column="eupmyeon_middle_code" />
	</resultMap>

	<!-- 행정구역 전체목록 보기 -->
	<select id="selectListDistrict" resultMap="selectListDistrict">
		SELECT 
			eupmyeon.eupmyeon_code
			,sido.sido_name
			,sigungu.sigungu_name
			,eupmyeon.eupmyeon_name
		FROM sido, sigungu, eupmyeon 
		WHERE 
			sido.sido_code = sigungu.sido_code 
		AND 
			sigungu.sigungu_code = eupmyeon.sigungu_code
	</select>
	
	<!-- 행정구역 시도 목록 -->
	<select id="selectListSido" resultType="kr.or.nationRental.district.service.DistrictDto">
		SELECT
			sido_code as sidoCode
			, sido_name as sidoName
		FROM sido	
	</select>

	<!-- 행정구역 시군구 목록 -->
	<select id="selectListSigungu" resultMap="selectListDistrict">
	SELECT 
		sigungu.sigungu_code
		, sido.sido_code
		, sido.sido_name
		, sigungu.sigungu_middle_code
		, sigungu.sigungu_name
	FROM sido, sigungu 
	WHERE 
		sido.sido_code = sigungu.sido_code 	
	</select>
	
	<!-- 행정구역 읍면동 목록 -->
	<select id="selectListEupmyeon" resultMap="selectListDistrict">
		SELECT 
		eupmyeon.eupmyeon_code
		, sido.sido_code
		, sido.sido_name
		, sigungu.sigungu_middle_code
		, sigungu.sigungu_name
		, eupmyeon.eupmyeon_middle_code
		, eupmyeon.eupmyeon_name
	FROM sido, sigungu, eupmyeon
	WHERE 
		sido.sido_code = sigungu.sido_code
	AND
		sigungu.sigungu_code = eupmyeon.sigungu_code 
	</select>
	
	<!-- 시도 등록 -->
	<insert id="insertSido" parameterType="kr.or.nationRental.district.service.DistrictDto">
	INSERT INTO sido (
		sido_code
		, sido_name
	)VALUES (
		#{sidoCode}
		,#{sidoName}
		)
	</insert>
	
	<!-- 시군구 등록 -->
		<insert id="insertSigungu" parameterType="kr.or.nationRental.district.service.DistrictDto">
		INSERT INTO sigungu(
			sigungu_code
			, sido_code
			, sigungu_middle_code
			, sigungu_name
		) VALUES (
			#{sigunguCode}
			, #{sidoCode}
			, #{sigunguMiddleCode}
			, #{sigunguName}
		)	

	</insert>

</mapper>