<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenMapper">
	
	<insert id="insertDeliveryOrderCitizen" parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		INSERT INTO delivery_order_citizen
			(delivery_order_citizen_code
			, goodsfacility_rental_code
			, classify_rental_state
			, goodsfacility_code
			, citizen_id
			, adminagency_code
			, send_address_sigungu
			, send_address_eupmyeon
			, send_address_sangse
			, receive_address_sigungu
			, receive_address_eupmyeon
			, receive_address_sangse
			, delivery_order_citizen_date
			, is_canceled_delivery)
	VALUES (NULL
			, #{goodsfacilityRentalCode}
			, #{classifyRentalState}
			, #{goodsfacilityCode}
			, #{citizenId}
			, #{adminagencyCode}
			, #{sendAddressSigungu}
			, #{sendAddressEupmyeon}
			, #{sendAddressSangse}
			, #{receiveAddressSigungu}
			, #{receiveAddressEupmyeon}
			, #{receiveAddressSangse}
			, NOW()
			, 'N')
	</insert>
	
	<select id="selectListMyDeliveryOrderCitizen" parameterType="String" resultType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		SELECT
			delivery_order_citizen_code as deliveryOrderCitizenCode
			,goodsfacility_rental_code as goodsfacilityRentalCode
			,classify_rental_state as classifyRentalState
			,goodsfacility_code as goodsfacilityCode
			,citizen_id as citizenId
			,adminagency_code as adminagencyCode
			,send_address_sigungu as sendAddressSigungu
			, send_address_eupmyeon as sendAddressEupmyeon
			, send_address_sangse as sendAddressSangse
			, receive_address_sigungu as receiveAddressSigungu
			, receive_address_eupmyeon as receiveAddressEupmyeon
			, receive_address_sangse as receiveAddressSangse
			, delivery_order_citizen_date as deliveryOrderCitizenDate
			, is_canceled_delivery as isCanceledDelivery
		FROM delivery_order_citizen
			where citizen_id = #{memberId}		
		ORDER BY delivery_order_citizen_date DESC	
	</select>
	
	<select id="updateViewDeliveryOrderCitizenAddress" parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto" resultType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		SELECT
			delivery_order_citizen_code as deliveryOrderCitizenCode
			,goodsfacility_rental_code as goodsfacilityRentalCode
			,classify_rental_state as classifyRentalState
			,goodsfacility_code as goodsfacilityCode
			,citizen_id as citizenId
			,adminagency_code as adminagencyCode
			,send_address_sigungu as sendAddressSigungu
			, send_address_eupmyeon as sendAddressEupmyeon
			, send_address_sangse as sendAddressSangse
			, receive_address_sigungu as receiveAddressSigungu
			, receive_address_eupmyeon as receiveAddressEupmyeon
			, receive_address_sangse as receiveAddressSangse
			, delivery_order_citizen_date as deliveryOrderCitizenDate
			, is_canceled_delivery as isCanceledDelivery
		FROM delivery_order_citizen
			where delivery_order_citizen_code = #{deliveryOrderCitizenCode}
	</select>
	
	<update id="updateDeliveryOrderCitizenAddress" parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		UPDATE delivery_order_citizen
			SET		
			send_address_sigungu=#{sendAddressSigungu}
			,send_address_eupmyeon=#{sendAddressEupmyeon}
			,send_address_sangse=#{sendAddressSangse}
			,receive_address_sigungu=#{receiveAddressSigungu}
			,receive_address_eupmyeon=#{receiveAddressEupmyeon}
			,receive_address_sangse=#{receiveAddressSangse}
		WHERE delivery_order_citizen_code= #{deliveryOrderCitizenCode}
	</update>
	
	<update id="updateIsCanceledDelivery" parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		UPDATE delivery_order_citizen
			SET		
			is_canceled_delivery = 'Y'
		WHERE delivery_order_citizen_code= #{deliveryOrderCitizenCode}	
	</update>
	
	<select id="selectListDeliveryOrderCitizen" parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto" resultType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
		SELECT
			delivery_order_citizen_code as deliveryOrderCitizenCode
			,goodsfacility_rental_code as goodsfacilityRentalCode
			,classify_rental_state as classifyRentalState
			,goodsfacility_code as goodsfacilityCode
			,citizen_id as citizenId
			,adminagency_code as adminagencyCode
			,send_address_sigungu as sendAddressSigungu
			, send_address_eupmyeon as sendAddressEupmyeon
			, send_address_sangse as sendAddressSangse
			, receive_address_sigungu as receiveAddressSigungu
			, receive_address_eupmyeon as receiveAddressEupmyeon
			, receive_address_sangse as receiveAddressSangse
			, delivery_order_citizen_date as deliveryOrderCitizenDate
			, is_canceled_delivery as isCanceledDelivery
		FROM delivery_order_citizen
			where adminagency_code = #{adminagencyCode}		
		ORDER BY delivery_order_citizen_date DESC
	</select>
	
</mapper>