<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestMapper">
	
	<select id="totalCountReturnGoodsfacilityInfo"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			return_goodsfacility_info
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('boardCode')">
					WHERE board_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardCategoryCode')">
					WHERE board_category_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberId')">
					WHERE member_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardName')">
					WHERE board_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textBoardContent')">
					WHERE text_board_content = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListReturnGoodsfacilityInfo"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.returnGoodsfacilityInfo.service.ReturnGoodsfacilityInfoDto">
		SELECT
			return_goodsfacility_info_code AS returGoodsfacilityInfoCode
			,goodsfacility_rental_code AS goodsfacilityRentalCode
			,goodsfacility_code AS goodsfacilityCode
			,classify_goodsfacility AS classifyGoodsfacility
			,citizen_id AS citizenId
			,is_requested_to_return_as_delivery AS isRequestedToReturnAsDelivery
			,overdue_days AS overdueDays
			,adminagency_code AS adminagencyCode
			,functionary_id AS functionaryId
			,state_goods_code AS stateGoodsCode
			,date_return_check AS dateReturnCheck
		FROM
			return_goodsfacility_info
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('boardCode')">
					WHERE board_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardCategoryCode')">
					WHERE board_category_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberId')">
					WHERE member_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('boardName')">
					WHERE board_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textBoardContent')">
					WHERE text_board_content = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY return_goodsfacility_info_code DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	
	
	
</mapper>