<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestMapper">
	
	<select id="totalCountRegularCheck"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			regular_check
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('regularCheckCode')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textRegularCheck')">
					WHERE text_regular_check = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRegularCheckGoodsfacility')">
					WHERE date_regular_check_goodsfacility = #{searchWord}
				</when>
			</choose>
		</if>
	</select>

	<select id="selectListRegularCheck"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.regularCheck.service.RegularCheckDto">
		SELECT
			regular_check_code AS regularCheckCode
			,adminagency_code AS adminagencyCode
			,goodsfacility_code AS goodsfacilityCode
			,goodsfacility_name AS goodsfacilityName
			,text_regular_check AS textRegularCheck
			,functionary_id AS functionaryId
			,state_goods_code AS stateGoodsCode
			,date_regular_check_goodsfacility AS dateRegularCheckGoodsfacility
		FROM
			regular_check
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('regularCheckCode')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('textRegularCheck')">
					WHERE text_regular_check = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRegularCheckGoodsfacility')">
					WHERE date_regular_check_goodsfacility = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY regular_check_code DESC
		LIMIT #{beginRow}, #{pagePerRow}

	</select>
	
	
	<select id="totalCountUnitedAfterserviceRequestDto"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			united_afterservice_request
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
					WHERE united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('regularCheckCode')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityThreeCode')">
					WHERE goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('textCheckResultGoodsfacility')">
					WHERE text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyCode')">
					WHERE agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyName')">
					WHERE agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyBusinesstypeCode')">
					WHERE agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRequestAfterservice')">
					WHERE date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateCompleteAfterservice')">
					WHERE date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListUnitedAfterserviceRequest"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			united_afterservice_request_code AS unitedAfterserviceRequestCode
			,return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,regular_check_code AS regularCheckCode
			,adminagency_code AS adminagencyCode
			,goodsfacility_three_code AS goodsfacilityThreeCode
			,goodsfacility_code AS goodsfacilityCode
			,goodsfacility_name AS goodsfacilityName
			,functionary_id AS functionaryId
			,state_goods_code AS stateGoodsCode
			,text_check_result_goodsfacility AS textCheckResultGoodsfacility
			,agency_code AS agencyCode
			,agency_name AS agencyName
			,agency_businesstype_code AS agencyBusinesstypeCode
			,date_request_afterservice AS dateRequestAfterservice
			,date_complete_afterservice AS dateCompleteAfterservice
		FROM
			united_afterservice_request
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('unitedAfterserviceRequestCode')">
					WHERE united_afterservice_request_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('returnGoodsfacilityInfoCode')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('regularCheckCode')">
					WHERE regular_check_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('adminagencyCode')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityThreeCode')">
					WHERE goodsfacility_three_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityCode')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('functionaryId')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('stateGoodsCode')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('textCheckResultGoodsfacility')">
					WHERE text_check_result_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyCode')">
					WHERE agency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyName')">
					WHERE agency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('agencyBusinesstypeCode')">
					WHERE agency_businesstype_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateRequestAfterservice')">
					WHERE date_request_afterservice = #{searchWord}
				</when>
				<when test="searchSelect.equals('dateCompleteAfterservice')">
					WHERE date_complete_afterservice = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY united_afterservice_request_code DESC
		LIMIT #{beginRow}, #{pagePerRow}
	
	</select>
	
	<insert id="insertUnitedAfterserviceRequest"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		INSERT
		INTO
			united_afterservice_request(
				united_afterservice_request_code
				,return_goodsfacility_info_code
				,regular_check_code
				,adminagency_code
				,goodsfacility_three_code
				,goodsfacility_code
				,goodsfacility_name
				,functionary_id
				,text_check_result_goodsfacility
				,agency_code
				,agency_name
				,agency_businesstype_code
				,date_request_afterservice
			)
		VALUES (#{unitedAfterserviceRequestCode}
			,#{returnGoodsfacilityInfoCode}
			,#{regularCheckCode}
			,#{adminagencyCode}
			,#{goodsfacilityThreeCode}
			,#{goodsfacilityCode}
			,#{goodsfacilityName}
			,#{functionaryId}
			,#{textCheckResultGoodsfacility}
			,#{agencyCode}
			,#{agencyName}
			,#{agencyBusinesstypeCode}
			,NOW()
		)
	
	</insert>
	
	
	<select id="selectOneAgencyForAjax"
			parameterType="kr.or.nationRental.agency.service.AgencyDto"
			resultType="kr.or.nationRental.agency.service.AgencyDto">
		SELECT
			agen.agency_code AS agencyCode
			,agen.agency_name AS agencyName
			,agentype.agency_businesstype_code AS agencyBusinesstypeCode
			,agentype.agency_businesstype_name AS agencyBusinesstypeName
		FROM
			agency AS agen
			INNER JOIN
			agency_businesstype AS agentype
			ON
			agen.agency_businesstype_code = agentype.agency_businesstype_code
		WHERE
			agen.agency_name = #{agencyName}
		
	</select>
	
	<select id="selectOneFunctionaryForListAgency"
			parameterType="String"
			resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
			functionary_id AS functionaryId
			,adminagency_code AS adminagencyCode
			,functionary_num AS functionaryNum
			,functionary_pw AS functionaryPw
			,functionary_name AS functionaryName
			,functionary_phone AS functionaryPhone
			,functionary_email AS functionaryEmail
			,functionary_date_join AS functionaryDateJoin
		FROM
			functionary
		WHERE
			functionary_id = #{functionaryId}
	</select>
	
	<select id="selectListAgencyDto"
			parameterType="kr.or.nationRental.functionary.service.FunctionaryDto"
			resultType="kr.or.nationRental.agency.service.AgencyDto">
		SELECT DISTINCT
			agen.agency_code AS agencyCode
			,agen.adminagency_code AS adminagencyCode
			,agen.functionary_name AS functionaryName
			,agen.agency_name AS agencyName
			,agen.agency_businesstype_code AS agencyBusinesstypeCode
			,agen.agency_date_registration AS agencyDateRegistration
			,agen.agency_date_contract_closed AS agencyDateContractClosed
		FROM
			agency AS agen
			INNER JOIN
			functionary AS func
			ON
			agen.adminagency_code = func.adminagency_code
		WHERE
			func.adminagency_code = #{adminagencyCode}
	</select>
	
	
	<select id="selectOneUnitedAfterserviceRequestDtoForInsert"
			parameterType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto"
			resultType="kr.or.nationRental.unitedAfterserviceRequest.service.UnitedAfterserviceRequestDto">
		SELECT
			returngf.return_goodsfacility_info_code AS returnGoodsfacilityInfoCode
			,admina.adminagency_code AS adminagencyCode
			,admina.adminagency_name AS adminagencyName
			,gf.goodsfacility_code AS goodsfacilityCode
			,gf.goodsfacility_name AS goodsfacilityName
			,gfthree.goodsfacility_three_code AS goodsfacilityThreeCode
			,gfthree.goodsfacility_three_name AS goodsfacilityThreeName
			,stateg.state_goods_code AS stateGoodsCode
			,stateg.state_goods AS stateGoods
		FROM
			return_goodsfacility_info AS returngf
			INNER JOIN
			goodsfacility AS gf
			ON
			returngf.goodsfacility_code = gf.goodsfacility_code
			
			INNER JOIN
			adminagency AS admina
			ON
			returngf.adminagency_code = admina.adminagency_code
			
			INNER JOIN
			goodsfacility_three AS gfthree
			ON
			gf.goodsfacility_three_code = gfthree.goodsfacility_three_code
			
			INNER JOIN
			state_goods AS stateg
			ON
			returngf.state_goods_code = stateg.state_goods_code
			
		WHERE
		return_goodsfacility_info_code = #{returnGoodsfacilityInfoCode}
	
	</select>
	
	
	<select id="totalCountReturnGoodsfacilityInfo"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			return_goodsfacility_info AS returngf
			INNER JOIN
			state_goods AS stateg
			ON
			returngf.state_goods_code = stateg.state_goods_code
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('물품/시설 반납 코드')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('대여 코드')">
					WHERE goodsfacility_rental_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 코드')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 분류 명')">
					WHERE classify_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('시민 ID')">
					WHERE citizen_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('배달반납 유무')">
					WHERE is_requested_to_return_as_delivery = #{searchWord}
				</when>
				<when test="searchSelect.equals('연체일수')">
					WHERE overdue_days = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관 코드')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('반납확인 공무원 ID')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품 상태 코드')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품 상태')">
					WHERE state_goods = #{searchWord}
				</when>
				<when test="searchSelect.equals('반납 확인 일자')">
					WHERE date_return_check = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListReturnGoodsfacilityInfo"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.returnGoodsfacilityInfo.service.ReturnGoodsfacilityInfoDto">
		SELECT
			returngf.return_goodsfacility_info_code AS returGoodsfacilityInfoCode
			,returngf.goodsfacility_rental_code AS goodsfacilityRentalCode
			,returngf.goodsfacility_code AS goodsfacilityCode
			,returngf.classify_goodsfacility AS classifyGoodsfacility
			,returngf.citizen_id AS citizenId
			,returngf.is_requested_to_return_as_delivery AS isRequestedToReturnAsDelivery
			,returngf.overdue_days AS overdueDays
			,returngf.adminagency_code AS adminagencyCode
			,returngf.functionary_id AS functionaryId
			,returngf.state_goods_code AS stateGoodsCode
			,stateg.state_goods AS stateGoods
			,returngf.date_return_check AS dateReturnCheck
		FROM
			return_goodsfacility_info AS returngf
			INNER JOIN
			state_goods AS stateg
			ON
			returngf.state_goods_code = stateg.state_goods_code
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('물품/시설 반납 코드')">
					WHERE return_goodsfacility_info_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('대여 코드')">
					WHERE goodsfacility_rental_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 코드')">
					WHERE goodsfacility_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품/시설 분류 명')">
					WHERE classify_goodsfacility = #{searchWord}
				</when>
				<when test="searchSelect.equals('시민 ID')">
					WHERE citizen_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('배달반납 유무')">
					WHERE is_requested_to_return_as_delivery = #{searchWord}
				</when>
				<when test="searchSelect.equals('연체일수')">
					WHERE overdue_days = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관 코드')">
					WHERE adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('반납확인 공무원 ID')">
					WHERE functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품 상태 코드')">
					WHERE state_goods_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('물품 상태')">
					WHERE state_goods = #{searchWord}
				</when>
				<when test="searchSelect.equals('반납 확인 일자')">
					WHERE date_return_check = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY return_goodsfacility_info_code DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	
	
	
</mapper>