<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.or.nationRental.goodsFacility.service.GoodsFacilityMapper">
  	<select id="selectadminagency"
  			parameterType="kr.or.nationRental.functionary.service.FunctionaryDto"
  			resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
  			
  			SELECT
  				adminagency_code as adminagencyCode, functionary_id as functionaryId
  			FROM
  				functionary
  			WHERE 	
  				functionary_id = #{functionaryId}  	
  	</select>
  
  	<insert id="insertGoodsFacility"
  			parameterType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto">
		
		<selectKey resultType="Integer"
					keyProperty="goodsfacilityCode"
					order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
		
  			INSERT INTO goodsfacility
  				(goodsfacility_three_code
  				,goodsfacility_name
  				,goodsfacility_purchaseprice
  				,goodsfacility_price_rental
  				,goodsfacility_text_sangse
  				,adminagency_code
  				,sigungu_name
  				,sido_name
  				,eupmyeon_name
  				,goodsfacility_address_sangse
  				,functionary_id
  				,goodsfacility_classify_goodsfacility
  				,goodsfacility_classify_donationpurchase
  				,goodsfacility_is_extra
  				,goodsfacility_is_possible_delivery
  				,goodsfacility_state_afterservice
  				,goodsfacility_is_possible_rental
  				,goodsfacility_date_registration)
  			VALUE (#{goodsfacilityThreeCode}
  					,#{goodsfacilityName}
  					,#{goodsfacilityPurchaseprice}
  					,#{goodsfacilityPriceRental}
  					,#{goodsfacilityTextSangse}
  					,#{adminagencyCode}
  					,#{sigunguName}
  					,#{sidoName}
  					,#{eupmyeonName}
  					,#{goodsfacilityAddressSangse}
  					,#{functionaryId}
  					,#{goodsfacilityClassifyGoodsfacility}
  					,#{goodsfacilityClassifyDonationpurchase}
  					,#{goodsfacilityIsExtra}
  					,#{goodsfacilityIsPossibleDelivery}
  					,#{goodsfacilityStateAfterservice}
  					,#{goodsfacilityIsPossibleRental}
  					,now()) 	
  	</insert>  	
  	
  	<resultMap type="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto" id="goodsFacility">
  		<id column="goodsfacility_code" property="goodsfacilityCode"/>
  		<result column="goodsfacility_three_code" property="goodsfacilityThreeCode"/>
  		<result column="goodsfacility_name" property="goodsfacilityName"/>
  		<result column="goodsfacility_purchaseprice" property="goodsfacilityPurchaseprice"/>
  		<result column="goodsfacility_price_rental" property="goodsfacilityPriceRental"/>
  		<result column="goodsfacility_text_sangse" property="goodsfacilityTextSangse"/>
  		<result column="adminagency_code" property="adminagencyCode"/>
  		<result column="sigungu_name" property="sigunguName"/>
  		<result column="sido_name" property="sidoName"/>
  		<result column="eupmyeon_name" property="eupmyeonName"/>
  		<result column="goodsfacility_address_sangse" property="goodsfacilityAddressSangse"/>
  		<result column="functionary_id" property="functionaryId"/>
  		<result column="goodsfacility_classify_goodsfacility" property="goodsfacilityClassifyGoodsfacility"/>
  		<result column="goodsfacility_classify_donationpurchase" property="goodsfacilityClassifyDonationpurchase"/>
  		<result column="goodsfacility_is_extra" property="goodsfacilityIsExtra"/>
  		<result column="goodsfacility_is_possible_delivery" property="goodsfacilityIsPossibleDelivery"/>
  		<result column="goodsfacility_state_afterservice" property="goodsfacilityStateAfterservice"/>
  		<result column="goodsfacility_is_possible_rental" property="goodsfacilityIsPossibleRental"/>
  		<collection ofType="kr.or.nationRental.goodsFacility.service.GoodsFacilityFile" property="goodsFacilityFile">
  			<id column="goodsfacility_file_name" property="goodsfacilityFileName"/>
  			<id column="goodsfacility_code" property="goodsfacilityCode"/>
  			<result column="goodsfacility_file_ext" property="goodsfacilityFileExt"/>
  			<result column="goodsfacility_file_type" property="goodsfacilityFileType"/>
  			<result column="goodsfacility_file_size" property="goodsfacilityFileSize"/>  					
  		</collection> 
  	</resultMap>
  	
  	<select id="getGoodsFacilityList"
  			parameterType="java.util.Map"
  			resultMap="goodsFacility">  			
  			SELECT   				
				goodsfacility.goodsfacility_code
				,goodsfacility.goodsfacility_three_code
				,goodsfacility.goodsfacility_name
				,goodsfacility.adminagency_code
				,goodsfacility.goodsfacility_address_sangse  				
				,goodsfacility.goodsfacility_is_possible_rental 
				,goodsfacility.goodsfacility_is_possible_delivery
				,goodsfacility.goodsfacility_price_rental				
				,goodsfacility_file.goodsfacility_file_name
				,goodsfacility_file.goodsfacility_file_ext
				,goodsfacility_file.goodsfacility_file_type
				,goodsfacility_file.goodsfacility_file_size  				
			FROM 
				goodsfacility
			JOIN
				goodsfacility_file
			ON
				goodsfacility.goodsfacility_code = goodsfacility_file.goodsfacility_code
					
			
  		
  		<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('goodsfacilityName')">
						WHERE goodsfacility_name = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityAddressSangse')">
						WHERE goodsfacility_address_sangse = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityIsPossibleDelivery')">
						WHERE goodsfacility_is_possible_delivery = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityIsPossibleRental')">
						WHERE goodsfacility_is_possible_rental = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityThreeCode')">
						WHERE goodsfacility_three_code = #{keyword}
					</when>					
				</choose>
			</if>
				ORDER BY goodsfacility_name DESC
				LIMIT #{beginRow}, #{pagePerRow}  		  	
  	</select>
  	
  	<select id="totalCountGoodsFacility"
  			parameterType="java.util.Map"
  			resultType="Integer">
  			SELECT
  				COUNT(*)
  			FROM
  				goodsfacility
			<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('goodsfacilityName')">
						WHERE goodsfacility_name = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityAddressSangse')">
						WHERE goodsfacility_address_sangse = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityIsPossibleDelivery')">
						WHERE goodsfacility_is_possible_delivery = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityIsPossibleRental')">
						WHERE goodsfacility_is_possible_rental = #{keyword}
					</when>
					<when test="searchOption.equals('goodsfacilityThreeCode')">
						WHERE goodsfacility_three_code = #{keyword}
					</when>					
				</choose>
			</if>				
  	</select> 
  	
  	<select id="viewImageGoodsFacility"
  			parameterType="java.util.Map"
  			resultMap="goodsFacility">
  			SELECT   				
				goodsfacility.goodsfacility_code
				,goodsfacility.goodsfacility_name					
				,goodsfacility_file.goodsfacility_file_name
				,goodsfacility_file.goodsfacility_file_ext			 				
			FROM 
				goodsfacility
			JOIN
				goodsfacility_file
			ON
				goodsfacility.goodsfacility_code = goodsfacility_file.goodsfacility_code 
				
			<if test="!keyword.equals('')">
			<choose>
				<when test="searchOption.equals('goodsfacilityName')">
					WHERE goodsfacility_name = #{keyword}
				</when>				
			</choose>
			</if>
			ORDER BY goodsfacility_name DESC
			LIMIT #{beginRow}, #{pagePerRow}   	
  	</select> 	
  	
  	<select id="viewImageDetail"
  			parameterType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto"
  			resultType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto">
  			SELECT
  				goodsfacility_three_code as goodsfacilityThreeCode
  				,goodsfacility_name as goodsfacilityName
  				,goodsfacility_purchaseprice as goodsfacilityPurchaseprice
  				,goodsfacility_price_rental as goodsfacilityPriceRental
  				,goodsfacility_text_sangse as goodsfacilityTextSangse
  				,adminagency_code as adminagencyCode
  				,sigungu_name as sigunguName
  				,sido_name as sidoName
  				,eupmyeon_name as eupmyeonName
  				,goodsfacility_address_sangse as goodsfacilityAddressSangse
  				,goodsfacility_is_possible_delivery as goodsfacilityIsPossibleDelivery
  				,goodsfacility_is_possible_rental as goodsfacilityIsPossibleRental
  			FROM
  				goodsfacility
  			WHERE 
  				goodsfacility_code = #{goodsfacilityCode} 			 
  	
  	</select>
  	
  
  </mapper>