<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.nakchal.service.NakchalMapper">

	<select id="selectListAgencyNakchalInfo"
			parameterType="kr.or.nationRental.nakchal.service.NakchalDto"
			resultType="kr.or.nationRental.nakchal.service.NakchalDto">
		SELECT
			agen.agency_code AS agencyCode
			,agenemp.agency_employee_id AS agencyEmployeeId
			,agen.functionary_name AS functionaryName
			,adminagen.adminagency_code AS adminagencyCode
			,adminagen.adminagency_name AS adminagencyName
			,adminagen.sido_name AS sidoName
			,adminagen.sigungu_name AS sigunguName
			,adminagen.eupmyeon_name AS eupmyeonName
			,agen.agency_name AS agencyName
			,agenbusintype.agency_businesstype_code AS agencyBusinesstypeCode
			,agenbusintype.agency_businesstype_name AS agencyBusinesstypeName
			,agen.agency_date_registration AS agencyDateRegistration
			,agen.agency_date_contract_closed AS agencyDateContractClosed
			
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
			
			INNER JOIN
			agency_businesstype AS agenbusintype
			ON
			agen.agency_businesstype_code = agenbusintype.agency_businesstype_code
		
			INNER JOIN
			adminagency AS adminagen
			ON
			agen.adminagency_code = adminagen.adminagency_code
		
		WHERE
			agenemp.agency_employee_id = #{agencyEmployeeId}
	</select>

	
	
</mapper>