<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityMapper">
  	
  	<select id="selectGoodsFacilityInfo"
  			parameterType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto"
  			resultType="kr.or.nationRental.goodsFacility.service.GoodsFacilityDto">
  			SELECT
  				goodsfacility_code as goodsfacilityCode
  				,adminagency_code as adminagencyCode
  				,goodsfacility_name as goodsfacilityName
  				,goodsfacility_address_sangse as goodsfacilityAddressSangse
  				,goodsfacility_price_rental as goodsfacilityPriceRental
  			FROM
  				goodsfacility
  			WHERE 
  				goodsfacility_code = #{goodsfacilityCode}  	
  	</select>
  
  	<insert id="insertApplicationRent"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			<selectKey resultType="Integer"
					keyProperty="goodsfacilityRentalCode"
					order="AFTER">
			SELECT LAST_INSERT_ID()
			</selectKey>
  			
  			INSERT INTO goodsfacility_rental
  					(adminagency_code
  					,goodsfacility_code
  					,goodsfacility_name
  					,citizen_id
  					,citizen_name
  					,citizen_phone
  					,goodsfacility_rental_date_start
  					,goodsfacility_rental_day_end
  					,goodsfacility_rental_is_ordered_delivery
  					,goodsfacility_rental_date_registration
  					,goodsfacility_rental_is_canceled
  					,goodsfacility_rental_deposit)
  				VALUE(#{adminagencyCode}
  					 ,#{goodsfacilityCode}
  					 ,#{goodsfacilityName}
  					 ,#{citizenId}
  					 ,#{citizenName}
  					 ,#{citizenPhone}
  					 ,#{goodsfacilityRentalDateStart}
  					 ,#{goodsfacilityRentalDayEnd}
  					 ,#{goodsfacilityRentalIsOrderedDelivery}
  					 ,now()
  					 ,#{goodsfacilityRentalIsCanceled}
  					 ,#{goodsfacilityRentalDeposit})
  	</insert>
  	
  	<select id="getApplicationList"
  			parameterType="java.util.Map"
  			resultType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			SELECT
  				goodsfacility_rental_code as goodsfacilityRentalCode
  				,adminagency_code as adminagencyCode
  				,citizen_id as citizenId
  				,citizen_phone as citizenPhone
  				,goodsfacility_code as goodsfacilityCode
  				,goodsfacility_name as goodsfacilityName
  				,goodsfacility_rental_date_start as goodsfacilityRentalDateStart
  				,goodsfacility_rental_day_end as goodsfacilityRentalDayEnd
  				,goodsfacility_rental_is_ordered_delivery as goodsfacilityRentalIsOrderedDelivery
  				,goodsfacility_rental_date_registration as goodsfacilityRentalDateRegistration
  				,goodsfacility_rental_is_canceled as goodsfacilityRentalIsCanceled
  			FROM
  				goodsfacility_rental
  			WHERE 
  				citizen_id = #{citizenDto.citizenId}
  				
  				<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('아이디')">
						WHERE citizen_id = #{keyword}
					</when>					
					<when test="searchOption.equals('행정기관')">
						WHERE adminagency_code = #{keyword}
					</when>
					<when test="searchOption.equals('배달여부')">
						WHERE goodsfacility_rental_date_registration = #{keyword}
					</when>					
				</choose>
			</if>
				ORDER BY citizen_id DESC
				LIMIT #{beginRow}, #{pagePerRow}
  	</select>
  	
  	<select id="totalCountRentFORM"
  			parameterType="java.util.Map"
			resultType="Integer">
			SELECT 
				COUNT(*)
			FROM
				goodsfacility_rental
			<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('아이디')">
						WHERE citizen_id = #{keyword}
					</when>					
					<when test="searchOption.equals('행정기관')">
						WHERE adminagency_code = #{keyword}
					</when>
					<when test="searchOption.equals('배달여부')">
						WHERE goodsfacility_rental_date_registration = #{keyword}
					</when>							
				</choose>
			</if>
  	</select>
  	
  	<select id="updateRentApp"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto"
  			resultType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			SELECT 
  			 	goodsfacility_rental_code as goodsfacilityRentalCode			
  				,citizen_id as citizenId
  				,citizen_phone as citizenPhone
  				,goodsfacility_code as goodsfacilityCode
  				,goodsfacility_name as goodsfacilityName
  				,goodsfacility_rental_date_start as goodsfacilityRentalDateStart
  				,goodsfacility_rental_day_end as goodsfacilityRentalDayEnd
  				,goodsfacility_rental_is_ordered_delivery as goodsfacilityRentalIsOrderedDelivery
  			FROM
  				goodsfacility_rental
  			WHERE
  				goodsfacility_rental_code = #{goodsfacilityRentalCode}
  	</select>
  	
  	<update id="updateApplication"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			UPDATE
  				goodsfacility_rental
  			SET
  				citizen_phone = #{citizenPhone}
  			WHERE
  				goodsfacility_rental_code = #{goodsfacilityRentalCode}  	
  	</update>
  	
  	<select id="cancelRent"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto"
  			resultType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			SELECT
  				goodsfacility_rental_code as goodsfacilityRentalCode			
  				,citizen_id as citizenId
  				,citizen_name as citizenName
  				,citizen_phone as citizenPhone
  				,goodsfacility_code as goodsfacilityCode
  				,goodsfacility_name as goodsfacilityName
  				,goodsfacility_rental_date_start as goodsfacilityRentalDateStart
  				,goodsfacility_rental_day_end as goodsfacilityRentalDayEnd
  				,goodsfacility_rental_is_ordered_delivery as goodsfacilityRentalIsOrderedDelivery
  				,goodsfacility_rental_date_registration as goodsfacilityRentalDateRegistration  															
  			FROM
  				goodsfacility_rental
  			WHERE
  				goodsfacility_rental_code = #{goodsfacilityRentalCode}  	
  	</select>
  	
  	<update id="cancelRentGoodsFacility"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			UPDATE
  				goodsfacility_rental
  			SET
  				goodsfacility_rental_is_canceled = "Y"
  			WHERE
  				goodsfacility_rental_code = #{goodsfacilityRentalCode}  	
  	</update>
  	
  	<update id="cancelDelivery"
  			parameterType="kr.or.nationRental.deliveryOrderCitizen.service.DeliveryOrderCitizenDto">
  			UPDATE
  				delivery_order_citizen
  			SET
  				is_canceled_delivery = "Y"
  			WHERE
  				goodsfacility_rental_code = #{goodsfacilityRentalCode}  	
  	</update>
  	
  
  </mapper>