<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeMapper">

	<delete id="deleteAgencyNakchalEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		DELETE 
	 	FROM
	 		agency_nakchal_employee
	 	WHERE
	 		agency_employee_id = #{agencyEmployeeId}
	</delete>

	<delete id="deleteAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		DELETE 
	 	FROM
	 		agency_employee
	 	WHERE
	 		agency_employee_id = #{agencyEmployeeId}
	</delete>

	<update id="updateAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		UPDATE
			agency_employee
		SET
			agency_employee_pw = #{agencyEmployeePw}
			,agency_employee_phone = #{agencyEmployeePhone}
			,agency_employee_email = #{agencyEmployeeEmail}
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</update>

	<select id="getAgencyName"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="String">
		SELECT
			agen.agency_name
		FROM
			agency_nakchal_employee AS nak
			INNER JOIN
			agency AS agen
			ON
			agen.agency_code = nak.agency_code
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>

	<select id="selectOneAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_employee_id AS agencyEmployeeId
			,agency_employee_pw AS agencyEmployeePw
			,agency_name AS agencyName
			,agency_employee_name AS agencyEmployeeName
			,agency_employee_phone AS agencyEmployeePhone
			,agency_employee_email AS agencyEmployeeEmail
			,agency_employee_date_join AS agencyEmployeeDateJoin
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<insert id="insertAgencyNakchalEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		INSERT
		INTO
			agency_nakchal_employee(
				agency_code
				,agency_employee_id
			)
		VALUES(
			#{agencyEmployeeInjeungNum}
			,#{agencyEmployeeId}
		)
	</insert>
	
	<insert id="insertAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		INSERT
		INTO
			agency_employee(
				agency_employee_id
				,agency_employee_pw
				,agency_name
				,agency_employee_name
				,agency_employee_phone
				,agency_employee_email
				,agency_employee_date_join
			)
		VALUES(
			#{agencyEmployeeId}
			,#{agencyEmployeePw}
			,#{agencyName}
			,#{agencyEmployeeName}
			,#{agencyEmployeePhone}
			,#{agencyEmployeeEmail}
			,now()
		)
	</insert>

	<select id="idCheckAdministrator"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			administrator
		WHERE
			administrator_id = #{agencyEmployeeId}
	</select>

	<select id="idCheckFunctionary"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			functionary
		WHERE
			functionary_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckCitizen"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			citizen
		WHERE
			citizen_id = #{agencyEmployeeId}
	</select>

	<select id="getAgencyNameForInsert"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_code AS agencyEmployeeInjeungNum
			,agency_name AS agencyName
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>

	<select id="injeungAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>
	
	
	
	
</mapper>