<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeMapper">
	
	<select id="totalCountFunctionaryForAgencyEmployee"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
			
			INNER JOIN
			adminagency AS adminagen
			ON
			agen.adminagency_code = adminagen.adminagency_code
			
			INNER JOIN
			functionary AS func
			ON
			adminagen.adminagency_code = func.adminagency_code
			
		WHERE
			agenemp.agency_employee_id = #{agencyEmployeeId}
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('공무원 ID')">
					AND func.functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관코드')">
					AND adminagen.adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관명')">
					AND adminagen.adminagency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('시도명')">
					AND adminagen.sido_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('시군구명')">
					AND sigungu_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('읍면동명')">
					AND adminagen.eupmyeon_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('상세주소')">
					AND adminagen.adminagency_address_sangse = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원명')">
					AND func.functionary_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원전화')">
					AND func.functionary_phone = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원이메일')">
					AND func.functionary_email = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원가입일')">
					AND func.functionary_date_join = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListFunctionaryForAgencyEmployee"
			parameterType="kr.or.nationRental.functionary.service.FunctionaryDto"
			resultType="kr.or.nationRental.functionary.service.FunctionaryDto">
		SELECT
			func.functionary_id AS functionaryId
			,func.functionary_pw AS functionaryPw
			,func.functionary_num AS functionaryNum
			,adminagen.adminagency_code AS adminagencyCode
			,adminagen.sido_name AS sidoName
			,adminagen.sigungu_name AS sigunguName
			,adminagen.eupmyeon_name AS eupmyeonName
			,adminagen.adminagency_name AS adminagencyName
			,adminagen.adminagency_address_sangse AS adminagencyAddressSangse
			,func.functionary_name AS functionaryName
			,func.functionary_phone AS functionaryPhone
			,func.functionary_email AS functionaryEmail
			,func.functionary_date_join AS functionaryDateJoin
			
		FROM
			agency_employee AS agenemp
			INNER JOIN
			agency_nakchal_employee AS agennakemp
			ON
			agenemp.agency_employee_id = agennakemp.agency_employee_id
			
			INNER JOIN
			agency AS agen
			ON
			agennakemp.agency_code = agen.agency_code
			
			INNER JOIN
			adminagency AS adminagen
			ON
			agen.adminagency_code = adminagen.adminagency_code
			
			INNER JOIN
			functionary AS func
			ON
			adminagen.adminagency_code = func.adminagency_code
			
		WHERE
			agenemp.agency_employee_id = #{agencyEmployeeId}
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('공무원 ID')">
					AND func.functionary_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관코드')">
					AND adminagen.adminagency_code = #{searchWord}
				</when>
				<when test="searchSelect.equals('지자체 기관명')">
					AND adminagen.adminagency_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('시도명')">
					AND adminagen.sido_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('시군구명')">
					AND sigungu_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('읍면동명')">
					AND adminagen.eupmyeon_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('상세주소')">
					AND adminagen.adminagency_address_sangse = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원명')">
					AND func.functionary_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원전화')">
					AND func.functionary_phone = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원이메일')">
					AND func.functionary_email = #{searchWord}
				</when>
				<when test="searchSelect.equals('공무원가입일')">
					AND func.functionary_date_join = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY func.functionary_date_join DESC
		LIMIT #{beginRow}, #{pagePerRow}	
			
			
	</select> 
	
	
	<select id="totalCountAgencyEmployee"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_employee
		WHERE
			agency_name = #{agencyName}
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('직원 ID')">
					AND agency_employee_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 명')">
					AND agency_employee_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 전화번호')">
					AND agency_employee_phone = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 이메일')">
					AND agency_employee_email = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectListAgencyEmployee"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_employee_id AS agencyEmployeeId
			,agency_employee_pw AS agencyEmployeePw
			,agency_name AS agencyName
			,agency_employee_name AS agencyEmployeeName
			,agency_employee_phone AS agencyEmployeePhone
			,agency_employee_email AS agencyEmployeeEmail
			,agency_employee_date_join AS agencyEmployeeDateJoin
		FROM
			agency_employee
		WHERE
			agency_name = #{agencyName}
			
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('직원 ID')">
					AND agency_employee_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 명')">
					AND agency_employee_name = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 전화번호')">
					AND agency_employee_phone = #{searchWord}
				</when>
				<when test="searchSelect.equals('직원 이메일')">
					AND agency_employee_email = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY agency_employee_date_join DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<select id="getAgencyCode"
			resultType="Integer">
		SELECT
			agen.agency_code
		FROM
			agency_nakchal_employee AS nak
			INNER JOIN
			agency AS agen
			ON
			agen.agency_code = nak.agency_code
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	
	<insert id="insertStorageAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		INSERT
		INTO
			storage_agency_employee(
				storage_agency_employee_id
				,adminagency_code
				,storage_agency_employee_pw
				,storage_agency_name
				,storage_agency_employee_name
				,storage_agency_employee_phone
				,storage_agency_employee_email
				,storage_agency_employee_date_join
				,storage_agency_employee_date_leave
			)
		VALUES(
			#{agencyEmployeeId}
			,#{agencyEmployeeInjeungNum}
			,#{agencyEmployeePw}
			,#{agencyName}
			,#{agencyEmployeeName}
			,#{agencyEmployeePhone}
			,#{agencyEmployeeEmail}
			,#{agencyEmployeeDateJoin}
			,now()
		)
	</insert>

	<delete id="deleteAgencyNakchalEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		DELETE 
	 	FROM
	 		agency_nakchal_employee
	 	WHERE
	 		agency_employee_id = #{agencyEmployeeId}
	</delete>

	<delete id="deleteAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		DELETE 
	 	FROM
	 		agency_employee
	 	WHERE
	 		agency_employee_id = #{agencyEmployeeId}
	</delete>

	<update id="updateAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		UPDATE
			agency_employee
		SET
			agency_employee_pw = #{agencyEmployeePw}
			,agency_employee_phone = #{agencyEmployeePhone}
			,agency_employee_email = #{agencyEmployeeEmail}
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</update>

	<select id="getAgencyName"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="String">
		SELECT
			agen.agency_name
		FROM
			agency_nakchal_employee AS nak
			INNER JOIN
			agency AS agen
			ON
			agen.agency_code = nak.agency_code
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>

	<select id="selectOneAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_employee_id AS agencyEmployeeId
			,agency_employee_pw AS agencyEmployeePw
			,agency_name AS agencyName
			,agency_employee_name AS agencyEmployeeName
			,agency_employee_phone AS agencyEmployeePhone
			,agency_employee_email AS agencyEmployeeEmail
			,agency_employee_date_join AS agencyEmployeeDateJoin
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<insert id="insertAgencyNakchalEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		INSERT
		INTO
			agency_nakchal_employee(
				agency_code
				,agency_employee_id
			)
		VALUES(
			#{agencyEmployeeInjeungNum}
			,#{agencyEmployeeId}
		)
	</insert>
	
	<insert id="insertAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		INSERT
		INTO
			agency_employee(
				agency_employee_id
				,agency_employee_pw
				,agency_name
				,agency_employee_name
				,agency_employee_phone
				,agency_employee_email
				,agency_employee_date_join
			)
		VALUES(
			#{agencyEmployeeId}
			,#{agencyEmployeePw}
			,#{agencyName}
			,#{agencyEmployeeName}
			,#{agencyEmployeePhone}
			,#{agencyEmployeeEmail}
			,now()
		)
	</insert>

	<select id="idCheckAdministrator"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			administrator
		WHERE
			administrator_id = #{agencyEmployeeId}
	</select>

	<select id="idCheckFunctionary"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			functionary
		WHERE
			functionary_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckCitizen"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			citizen
		WHERE
			citizen_id = #{agencyEmployeeId}
	</select>
	<!-- @@ -->
	<select id="idCheckStorageAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			storage_agency_employee
		WHERE
			storage_agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckStorageCitizen"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			storage_citizen
		WHERE
			storage_citizen_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckStorageFunctionary"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			storage_functionary
		WHERE
			storage_functionary_id = #{agencyEmployeeId}
	</select>
	
	
	<select id="getAgencyNameForInsert"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_code AS agencyEmployeeInjeungNum
			,agency_name AS agencyName
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>

	<select id="injeungAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>
	
	
	
	
</mapper>