<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeMapper">

	<select id="idCheckAdministrator"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			administrator
		WHERE
			administrator_id = #{agencyEmployeeId}
	</select>

	<select id="idCheckFunctionary"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			functionary
		WHERE
			functionary_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency_employee
		WHERE
			agency_employee_id = #{agencyEmployeeId}
	</select>
	
	<select id="idCheckCitizen"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			citizen
		WHERE
			citizen_id = #{agencyEmployeeId}
	</select>




	<select id="getAgencyNameForInsert"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto">
		SELECT
			agency_code AS agencyEmployeeInjeungNum
			,agency_name AS agencyName
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>

	<select id="injeungAgencyEmployee"
			parameterType="kr.or.nationRental.agencyEmployee.service.AgencyEmployeeDto"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			agency
		WHERE
			agency_code = #{agencyEmployeeInjeungNum}
	</select>
	
	
	
	
</mapper>