<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.or.nationRental.rentalTotalPayment.service.RentalTotalPaymentMapper">

  <!-- 	<select id="getRentGoodsfacilityDtoList"
  			resultType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  			SELECT
				gfrental.goodsfacility_rental_code as goodsfacilityRentalCode
				, gfrental.adminagency_code as adminagencyCode
				, gfrental.goodsfacility_code as goodsfacilityCode
				, gfrental.goodsfacility_name as goodsfacilityName
				, gfrental.citizen_id as citizenId
				, gfrental.citizen_name as citizenName
				, gfrental.citizen_phone as citizenPhone
				, gfrental.goodsfacility_rental_date_start as goodsfacilityRentalDateStart
				, gfrental.goodsfacility_rental_day_end as goodsfacilityRentalDayEnd
				, gfrental.goodsfacility_rental_is_ordered_delivery as goodsfacilityRentalIsOrderedDelivery
				, gfrental.goodsfacility_rental_date_registration as goodsfacilityRentalDateRegistration
				, gfrental.goodsfacility_rental_is_canceled as goodsfacilityRentalIsCanceled
				, gfrental.goodsfacility_rental_deposit as goodsfacilityRentalDeposit
				, gf.goodsfacility_price_rental as goodsfacilityPriceRental
			FROM
				goodsfacility_rental AS gfrental
				INNER JOIN
				goodsfacility AS gf
				ON
				gfrental.goodsfacility_code = gf.goodsfacility_code
  	</select> -->

</mapper>