<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.or.nationRental.rentalTotalPayment.service.RentalTotalPaymentMapper">

	<insert id="insertRentGoodsfacility"
  			parameterType="kr.or.nationRental.rentGoodsFacility.service.RentGoodsfacilityDto">
  		
  			INSERT INTO goodsfacility_rental(
				adminagency_code
				, goodsfacility_code
				, goodsfacility_name
				, citizen_id
				, citizen_name
				, citizen_phone
				, goodsfacility_rental_date_start
				, goodsfacility_rental_day_end
				, goodsfacility_rental_is_ordered_delivery
				, goodsfacility_rental_date_registration
				, goodsfacility_rental_deposit
				)VALUES (
					#{adminagencyCode}
					, #{goodsfacilityCode}
					, #{goodsfacilityName}
					, #{citizenId}
					, #{citizenName}
					, #{citizenPhone}
					, #{goodsfacilityRentalDateStart}
					, #{goodsfacilityRentalDayEnd}
					, #{goodsfacilityRentalIsOrderedDelivery}
					, NOW()
					, #{goodsfacilityRentalDeposit}
				)
  	</insert>


	<insert id="insertRentTotalPayment"
  			parameterType="kr.or.nationRental.rentalTotalPayment.service.RentalTotalPaymentDto">
  			
  			INSERT INTO rental_total_payment (
  				goodsfacility_rental_code
  				, citizen_id
  				, goodsfacility_code
  				, goodsfacility_name
  				, adminagency_code
  				, goodsfacility_price_rental
  				, used_point
  				, annualfee_pakage_code
  				, annualfee_pakage_name
  				, delivery_price
  				, rental_total_payment
  				, date_payment
  			) VALUES (
  				#{GoodsfacilityRentalCode}
  				, #{citizenId}
  				, #{goodsfacilityCode}
  				, #{goodsfacilityName}
  				, #{adminagencyCode}
  				, #{goodsfacilityPriceRental}
  				, #{usedPoint}
  				, #{annualfeePakageCode}
  				, #{annualfeePakageName}
  				, #{deliveryPrice}
  				, #{rentalTotalPayment}
  				, NOW()
  			)
  	</insert>

</mapper>