<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.administrator.service.AdministratorMapper">
	
	<!-- 관리자 등록 -->
	<insert id="insertAdministrator" parameterType="kr.or.nationRental.administrator.service.AdministratorDto">
		INSERT INTO administrator (
			administrator_id
			, administrator_pw
			, functionary_num
			, administrator_phone
			, administrator_name
			, administrator_date_join
		)VALUES (
			#{adminId}
			, #{adminPw}
			, #{functionaryNum}
			, #{adminPhone}
			, #{adminName}	
			, NOW())		
	</insert>
	
	<!-- 관리자 계정 목록 -->
	<select id="selectListAdministrator" resultType="kr.or.nationRental.administrator.service.AdministratorDto">
		SELECT
			administrator_id as adminId
			, administrator_pw as adminPw
			, functionary_num as functionaryNum
			, administrator_phone as adminPhone
			, administrator_name as adminName
			, administrator_date_join as adminDateJoin
		FROM administrator	
	</select>
	
	<!--관리자 정보 수정 불러오기 -->
	<select id="updateAdministratorForm" parameterType="kr.or.nationRental.administrator.service.AdministratorDto" resultType="kr.or.nationRental.administrator.service.AdministratorDto">
		select 
			administrator_id as adminId
			, administrator_pw as adminPw
			, functionary_num as functionaryNum
			, administrator_phone as adminPhone
			, administrator_name as adminName
			, administrator_date_join as adminDateJoin
		from administrator
		where 
			administrator_id = #{adminId}
	</select>

	<!-- 관리자 정보수정하기 -->
	<update id="updateAdministrator" parameterType="kr.or.nationRental.administrator.service.AdministratorDto">
	UPDATE administrator
	SET
		administrator_id = #{adminId}
		, administrator_pw = #{adminPw}
		, functionary_num = #{functionaryNum}
		, administrator_phone = #{adminPhone}
		, administrator_name =#{adminName}
	WHERE 
		administrator_id= #{adminId}
	</update>
	
	<!-- 관리자 권한 삭제 -->
	<delete id="deleteAdministrator" parameterType="kr.or.nationRental.administrator.service.AdministratorDto">
	 DELETE 
	 	FROM administrator 
	 	WHERE administrator_id = #{adminId}
	</delete>	

</mapper>