<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.adminagency.service.AdminagencyMapper">
	
	<!-- 행정기관 전체목록보기 및 페이징 -->
	<select id="selectListAdminagency" parameterType="java.util.Map" resultType="kr.or.nationRental.adminagency.service.AdminagencyDto">
		SELECT 
			adminagency_code as adminagencyCode
			, adminagency_name as adminagencyName
			, sido_name as sidoName
			, sigungu_name as sigunguName
			, eupmyeon_name as eupmyeonName
			, adminagency_address_sangse as adminagencyAddressSangse
			, adminagency_is_rental_ban as adminagencyIsRentalBan
		FROM adminagency
		<choose>	      
	        <when test="searchOption == 'all'">    
	        	where adminagency_code like CONCAT('%', #{keyword}, '%')
	        	or adminagency_name like CONCAT('%', #{keyword}, '%')
	        	or sido_name like CONCAT('%', #{keyword}, '%')
	        	or sigungu_name like CONCAT('%', #{keyword}, '%')
	        	or eupmyeon_name like CONCAT('%', #{keyword}, '%')
	        	or adminagency_address_sangse like CONCAT('%', #{keyword}, '%')		        	        	           
	        </when>
	        <otherwise>
	        	where ${searchOption} like CONCAT('%', #{keyword}, '%')	        
	        </otherwise>
    	</choose>
		ORDER BY adminagency_name ASC
		LIMIT #{beginRow}, #{pagePerRow}	
	</select>
	
	<select id="totalCountAdminagency" parameterType="java.util.Map" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM adminagency
		<choose>	      
	        <when test="searchOption == 'all'">    
	        	where adminagency_code like CONCAT('%', #{keyword}, '%')
	        	or adminagency_name like CONCAT('%', #{keyword}, '%')
	        	or sido_name like CONCAT('%', #{keyword}, '%')
	        	or sigungu_name like CONCAT('%', #{keyword}, '%')
	        	or eupmyeon_name like CONCAT('%', #{keyword}, '%')
	        	or adminagency_address_sangse like CONCAT('%', #{keyword}, '%')		        	        	           
	        </when>
	        <otherwise>
	        	where ${searchOption} like CONCAT('%', #{keyword}, '%')	        
	        </otherwise>
        </choose>
	</select>
	
	<!-- 행정기관 신규등록 -->
	<insert id="insertAdminagency" parameterType="kr.or.nationRental.adminagency.service.AdminagencyDto">
	INSERT INTO adminagency (
		adminagency_code
		, adminagency_name
		, sido_name
		, sigungu_name
		, eupmyeon_name
		, adminagency_address_sangse
		, adminagency_is_rental_ban
		, adminagency_date_registration
	) VALUES (
		#{adminagencyCode}
		, #{adminagencyName}
		, #{sidoName}
		, #{sigunguName}
		, #{eupmyeonName}
		, #{adminagencyAddressSangse}
		, #{adminagencyIsRentalBan}
		, NOW()
	)
	</insert>
	
</mapper>