<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.nationRental.adminagency.service.AdminagencyMapper">
	
	<!-- 물품시설 카테고리 전체목록보기 및 페이징 -->
	<select id="selectListAdminagency" parameterType="java.util.Map" resultType="kr.or.nationRental.adminagency.service.AdminagencyDto">
		SELECT 
			adminagency_code as adminagencyCode
			, adminagency_name as adminagencyName
			, sido_name as sidoName
			, sigungu_name as sigunguName
			, eupmyeon_name as eupmyeonName
			, adminagency_address_sangse as adminagencyAddressSangse
			, adminagency_is_rental_ban as adminagencyIsRentalBan
		FROM adminagency
		<if test="!keyword.equals('')">
			<choose>
				<when test="searchOption.equals('adminagencyCode')">
					WHERE adminagency_code = #{keyword}
				</when>
				<when test="searchOption.equals('adminagencyName')">
					WHERE adminagency_name = #{keyword}
				</when>
				<when test="searchOption.equals('sidoName')">
					WHERE sido_name = #{keyword}
				</when>
				<when test="searchOption.equals('sigunguName')">
					WHERE  sigungu_name = #{keyword}
				</when>
					<when test="searchOption.equals('eupmyeonName')">
					WHERE  eupmyeon_name = #{keyword}
				</when>
			</choose>
		</if>
		ORDER BY adminagency_name ASC
		LIMIT #{beginRow}, #{pagePerRow}	
	</select>
	
	<select id="totalCountAdminagency" parameterType="java.util.Map" resultType="Integer">
			SELECT 
				COUNT(*)
			FROM
				adminagency
			<if test="!keyword.equals('')">
			<choose>
				<when test="searchOption.equals('adminagencyCode')">
					WHERE adminagency_code = #{keyword}
				</when>
				<when test="searchOption.equals('adminagencyName')">
					WHERE adminagency_name = #{keyword}
				</when>
				<when test="searchOption.equals('sidoName')">
					WHERE sido_name = #{keyword}
				</when>
				<when test="searchOption.equals('sigunguName')">
					WHERE sigungu_name = #{keyword}
				</when>
				<when test="searchOption.equals('eupmyeonName')">
					WHERE  eupmyeon_name = #{keyword}
				</when>
			</choose>
		</if>
	</select>
	
	
</mapper>