<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="kr.or.nationRental.citizen.service.CitizenMapper">
	<!-- <select id="getdistrict"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.district.service.DistrictDto"> 
			
		SELECT 
			sido.sido_name as sidoName , sigungu.sigungu_name as sigunguName , eupmyeon.eupmyeon_name as eupmyeonName
		FROM
			sido
		INNER JOIN
			sigungu
		ON
			sido.sido_code = sigungu.sido_code
		
		INNER JOIN
			eupmyeon
		ON
			sigungu.sigungu_code = eupmyeon.sigungu_code				
	
	</select>
	 -->
	
	
	<insert id="insertCitizen" 
			parameterType="kr.or.nationRental.citizen.service.CitizenDto">
	
			INSERT INTO citizen
				(citizen_id
				,citizen_pw
				,citizen_name
				,citizen_jumin_num
				,sigungu_name
				,sido_name
				,eupmyeon_name
				,citizen_address_sangse
				,citizen_phone
				,citizen_email
				,citizen_date_join)
			VALUES (#{citizenId}
					,#{citizenPw}
					,#{citizenName}
					,#{citizenJuminNum}
					,#{sigunguName}
					,#{sidoName}					
					,#{eupmyeonName}				
					,#{citizenAddressSangse}
					,#{citizenPhone}
					,#{citizenEmail}
					,now())	
	</insert>
	
	<select id="getCitizenList"
			parameterType="java.util.Map"
			resultType="kr.or.nationRental.citizen.service.CitizenDto">
			SELECT 
				citizen_id as citizenId
				,citizen_pw as citizenPw
				,citizen_name as citizenName
				,sigungu_name as sigunguName
				,sido_name as sidoName
				,eupmyeon_name as eupmyeonName
				,citizen_address_sangse as citizenAddressSangse				
				,citizen_phone as citizenPhone
				,citizen_email as citizenEmail
			FROM
				citizen
			<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('citizenId')">
						WHERE citizen_id = #{keyword}
					</when>
					<when test="searchOption.equals('citizenName')">
						WHERE citizen_name = #{keyword}
					</when>
					<when test="searchOption.equals('citizenEmail')">
						WHERE citizen_email = #{keyword}
					</when>
				</choose>
			</if>
				ORDER BY citizen_id DESC
				LIMIT #{beginRow}, #{pagePerRow}	
	</select>
	
	<select id="totalCountCitizen"
			parameterType="java.util.Map"
			resultType="Integer">
			SELECT 
				COUNT(*)
			FROM
				citizen
			<if test="!keyword.equals('')">
				<choose>
					<when test="searchOption.equals('citizenId')">
						WHERE citizen_id = #{keyword}
					</when>
					<when test="searchOption.equals('citizenName')">
						WHERE citizen_name = #{keyword}
					</when>
					<when test="searchOption.equals('citizenEmail')">
						WHERE citizen_email = #{keyword}
					</when>
				</choose>
			</if>	
	</select>
	
	<select id="getOneCitizen"
			parameterType="kr.or.nationRental.citizen.service.CitizenDto"
			resultType="kr.or.nationRental.citizen.service.CitizenDto">
			SELECT
				citizen_name as citizenName				
				,citizen_address_sangse as citizenAddressSangse
				,citizen_phone as citizenPhone
				,citizen_email as citizenEmail
			FROM citizen
			WHERE citizen_id = #{citizenId}				
	</select>
	
	<select id="updateCitizen"
			parameterType="kr.or.nationRental.citizen.service.CitizenDto"
			resultType="kr.or.nationRental.citizen.service.CitizenDto">
			SELECT
				citizen_id as citizenId
				,citizen_pw as citizenPw
				,sigungu_code as sigunguCode
				,eupmyeon_code as eupmyeonCode
				,citizen_address_sangse as citizenAddressSangse
				,citizen_phone as citizenPhone
				,citizen_email as citizenEmail
			FROM citizen
			WHERE citizen_id = #{citizenId}				
	</select>
	
	<select id="updateOneCitizen"
			parameterType="kr.or.nationRental.citizen.service.CitizenDto">
			UPDATE
				citizen
			SET
				citizen_pw = #{citizenPw}
				,sigungu_code = #{sigunguCode}
				,eupmyeon_code = #{eupmyeonCode}
				,citizen_address_sangse = #{citizenAddressSangse}
				,citizen_phone = #{citizenPhone}
				,citizen_email = #{citizenEmail}
			WHERE
				citizen_id = #{citizenId}	
	</select>
 
 
 </mapper>
  